{% include collapsible_start.html title="Preface (Pierre Alechinsky)" %}
{% capture my_include %}

THE CAVES

What is it about? Of a healthy agitation. From the pillow to the stone, the holes of tuberculosis may be filled, the word cavern becomes a museum, it remains death. In medicine, in society, in language, everything is lived as if nothing were more difficult than to disappear.

Christian Dotremont and Asger Jorn have lived, have been living in a cave. But before being returned to normal life they scribbled these traces, grimaces, tender insults. Shrugs of shoulders and movements of panic? It is necessary to organize a little. For lack of applause or shouting, it was up to the feathered hands to find the new signs, and something to sink into.

These atheists' ex-votos were wrapped up in a great laugh and tossed, in Brussels in 1949 and at the Silkeborg sanatorium in 1951, through the opening that leads to nothing (it being thought that nothing is already a formidable opening), while another agitation came to a standstill in Europe, and for good reason: Cobra. Readable paintings, visible words, here they are nevertheless gathered and offered in their state of project become memory, to the distracted eyes.

ALECHINSKY.


{% endcapture %}
{% include collapsible_end.html %}