---
layout: default
title: Categories
description: Article categories at salvaged.work, a digital archive for salvaged analogue materials.
permalink: /categories/
---

<h1>Categories</h1>

{% assign all_categories = site.articles | map: 'categories' | join: ',' | split: ',' | uniq | sort %}

{% for category in all_categories %}
	{% if category != '' %}
	<h2 id="{{ category }}">{{ category | capitalize }}</h2>	
	{% assign category_articles = site.articles | where: 'categories', category | sort: 'title' %}
	{% for article in category_articles %}
	{% include article-listing.html %}
	{% endfor %}
	{% endif %}
{% endfor %}
