---
layout: default
title: Categories
description: Article categories at salvaged.work, a digital archive for salvaged analogue materials.
permalink: /categories/
---

<h1>Categories</h1>

{% capture categories %}
	{% for category in site.categories %}
		{{ category[0] }}
	{% endfor %}
{% endcapture %}
{% assign sortedcategories = categories | split:' ' | sort %}

{% for category in sortedcategories %}
	<h2>{{ category | capitalize }}</h2>	
	{% assign sortedPosts = site.categories[category] | sort: 'title' %}
	{% for post in sortedPosts %}
	{% include article-listing.html %}
	{% endfor %}
{% endfor %}