# Site settings
title: salvaged.work
description: > # this means to ignore newlines until "baseurl:"
  A digital archive for salvaged analogue materials.
baseurl: ""
permalink: pretty
theme: null
paginate: 10

collections:
  articles:
    permalink: /article/:title/
    output: true
  creators:
    output: true
    permalink: /creators/:path/
  places:
    output: true
    permalink: /places/:path/
  collections:
    output: true
    permalink: /collection/:path/
    
defaults:
  - scope:
      path: ""
    values:
      # For Open Graph metadata, set same link preview image for all pages
      image: /assets/images/social_media/logo.png
  - scope:
      path: ""
      type: "articles"
    values:
      layout: "article"
  - scope:
      path: ""
      type: "creators"
    values:
      layout: "creator"
  - scope:
      path: ""
      type: "collections"
    values:
      layout: "collection"
  - scope:
      path: ""
    values:
      layout: "default"

logo: /assets/images/social_media/logo.png

social:
  name: salvaged.work
  links:
    - https://twitter.com/salvagedwork
    - https://www.instagram.com/salvagedwork/

twitter:
  username: salvagedwork
  card: summary

# Build Settings
sass:
  sass_dir: _sass
include: ['_pages']

plugins:
  - github-pages
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-paginate
