<div class="article-tile" data-tags="{{ post.tags | join: ',' }}" data-creators="{{ post.creators | join: ',' }}" data-subjects="{{ post.subjects | join: ',' }}" data-category="{{ post.categories | join: ',' }}">
	<div class="article-tile-image-container">
		<a href="{{ post.url }}"><img class="article-tile-image" src="{{ post.featured-image }}"></a>
	</div>
	<div class="article-tile-details-container">
		<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
		<p>{{ post.description }}</p>
		{% if post.creators %}
		<p class="article-details-creators">Creators: <span class="article-creator">
			{% for creator in post.creators %}<a href="/creators/{{ creator }}/" class="article-creator-link">{% include titlecase.html text=creator %}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
		</span></p>
		{% endif %}
		{% if post.tags and post.tags.size > 0 %}
		<p class="article-details-tags">Tags: <span class="article-tag">
			{% for tag in post.tags %}<a href="/tag/{{ tag }}/" class="article-tag-link">{% include titlecase.html text=tag %}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
		</span></p>
		{% endif %}
		{% if post.subjects %}
		<p class="article-details-subjects">Subjects: <span class="article-subject">
			{% for subject in post.subjects %}<span class="article-subject-item">{% include titlecase.html text=subject %}</span>{% unless forloop.last %}, {% endunless %}{% endfor %}
		</span></p>
		{% endif %}
	</div>
</div>
