<div class="article-tile" data-subjects="{{ article.subjects | join: ',' }}" data-category="{{ article.categories | join: ',' }}" data-collection="{{ article.member_of }}" data-creators="{{ article.creators | join: ',' }}">
	<div class="article-tile-image">
		<a href="{{ article.url }}"><img src="{{ article.featured-image }}" alt="{{ article.title }}"></a>
	</div>
	<div class="article-tile-content">
		<h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
		<p class="article-tile-description"><strong>{{ article.title }}</strong> {{ article.description }}</p>
		<p class="article-tile-meta">
			{%- if article.categories.size > 0 -%}
				{% for cat in article.categories %}<a href="/articles/?category={{ cat }}">{% include titlecase.html text=cat %}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}:{% endif %} {% if article.member_of -%}
				{%- assign parent_collection = site.collections | where: "collection_id", article.member_of | first -%}
				{%- if parent_collection -%}
<a href="{{ parent_collection.url }}">{{ parent_collection.title }}</a> {% endif -%}
			{%- endif -%}
			{%- if article.creators.size > 0 -%}
				{% if article.member_of %}({% endif -%}
				{%- for creator in article.creators -%}
<a href="/articles/?creator={{ creator }}">{% include titlecase.html text=creator %}</a>{% unless forloop.last %}, {% endunless -%}
				{%- endfor -%}
				{%- if article.member_of %}){% endif -%}
			{%- endif -%}
		</p>
		{%- if article.subjects.size > 0 -%}
		<p class="article-tile-meta">
			<em>{% for subject in article.subjects %}<a href="/articles/?subject={{ subject }}">{% include titlecase.html text=subject %}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</em>
		</p>
		{%- endif -%}
		<p class="article-tile-link"><a href="{{ article.url }}">Read more &rarr;</a></p>
	</div>
</div>
