<div class="book-link-card">
	{% if include.image %}
	<div class="book-link-image">
		<a href="{{ include.url }}"><img src="{{ include.image }}" alt="{{ include.title }}"></a>
	</div>
	{% endif %}
	<div class="book-link-content">
		<h3 class="book-link-title"><a href="{{ include.url }}">{{ include.title }}</a></h3>
		{% if include.description %}
		<p class="book-link-description">{{ include.description }}</p>
		{% endif %}
		<a href="{{ include.url }}" class="book-link-button">Read the full text &rarr;</a>
	</div>
</div>
