<div class="modified-date">
	{% if page.last_modified_at %}
		Page last modified on {{ page.last_modified_at }}
	{% else %}
		Salvaging for the future.
	{% endif %}</div>
<div class="navbar-links">
	{% for item in site.data.footer %}
		<a href="{{ item.link }}" {% if page.url == item.link %}class="footer-link current"{% endif %} class="footer-link">{{ item.name }}</a>
	{% endfor %}
	<a href="https://www.instagram.com/salvagedwork/" class="social-media-icon" target="_blank"><span class="icon-instagram"></span></a>
	<a href="https://twitter.com/salvagedwork" class="social-media-icon" target="_blank"><span class="icon-twitter"></span></a>
</div>
<script type="text/javascript"> 
	var totalCount = 7;
	function changeIt() 
	{
	var num = Math.ceil( Math.random() * totalCount );
	document.body.background = '/assets/images/backgrounds/'+num+'.jpg';
	document.body.style.backgroundSize = "cover";
	document.body.style.backgroundPosition = "top";
	document.body.style.backgroundRepeat = "repeat-y";
	document.body.style.backgroundAttachment = "fixed";
	}
	document.addEventListener("DOMContentLoaded", ()=>{
		changeIt();
	});
	
</script>