<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<title>
		{% if page.title == "salvaged.work - A digital archive for salvaged analogue works." %}
			{{ page.title }}
		{% else %}
			{{ page.title }} - salvaged.work
		{% endif %}
	</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#e81515">
	<meta name="msapplication-TileColor" content="#2d89ef">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '/css/featherlight.min.css' | relative_url }}">
	<link rel="stylesheet" href="{{ '/css/featherlight.gallery.min.css' | relative_url }}">
	<!-- <script type="text/javascript">  -->
	<!-- var totalCount = 7; -->
	<!-- function changeIt()  -->
	<!-- { -->
	<!-- var num = Math.ceil( Math.random() * totalCount ); -->
	<!-- document.body.background = '/assets/images/backgrounds/'+num+'.jpg'; -->
	<!-- document.body.style.backgroundSize = "cover"; -->
	<!-- document.body.style.backgroundPosition = "top"; -->
	<!-- document.body.style.backgroundRepeat = "repeat-y"; -->
	<!-- document.body.style.backgroundAttachment = "fixed"; -->
	<!-- } -->
	<!-- </script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/detect_swipe/2.1.4/jquery.detect_swipe.min.js"></script>
	<script src="{{ '/js/footnotes.js' | relative_url }}"></script>
	{% feed_meta %}
	{% seo %}
</head>