{% comment %}
Reusable thumbnail with expandable description, using book-thumbnail styling (centred, no box, 1/3 width).
Usage:
{% include thumbnail-expandable.html 
    image="/assets/articles/example/image.jpg"
    caption="Short visible caption"
    description="Longer description shown on expand..."
%}
{% endcomment %}

<div class="book-thumbnail" data-gallery>
  <figure>
    <a href="{{ include.image }}">
      <img src="{{ include.image }}" alt="{{ include.caption }}">
    </a>
    {% if include.caption %}
    <figcaption>
      {{ include.caption }}
      {% if include.description %}
      <button class="thumbnail-expand-btn" aria-expanded="false">More</button>
      <span class="thumbnail-expand-content">{{ include.description }}</span>
      {% endif %}
    </figcaption>
    {% endif %}
  </figure>
</div>
