{% comment %}
Reusable thumbnail container.
Usage:
{% include thumbnail.html 
    image="/assets/articles/example/image.jpg"
    caption="Image caption here"
    fullwidth=false
%}
{% endcomment %}

<div class="thumbnail-container{% if include.fullwidth %}-fullwidth{% endif %}" data-gallery>
    <figure>
        <a href="{{ include.image }}"><img class="thumbnail-image" src="{{ include.image }}"></a>
        {% if include.caption %}
        <figcaption class="thumbnail-caption">{{ include.caption }}</figcaption>
        {% endif %}
    </figure>
</div>
