$display-width: 90%;
$information-desktop: "only screen and (min-width: 769px)";
$information-mobile: "only screen and (max-width: 769px)";
$top-margin: 3rem;

$content-background-color: white;
$content-padding: 2rem;

$font-regular: 'GT-Eesti-Text-Light', sans-serif;
$font-ubold: 'GT-Eesti-Display-UBold', sans-serif;
$font-bold: 'GT-Eesti-Display-Bold', sans-serif;
$font-large: 2.5rem;
$font-medium: 1.3rem;
$font-small: 0.9rem;
$line-height: 1.5rem;

$font-color: #1a1a1a;
$shade-color: #eee;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}