@media #{$information-desktop} {
	
	html {
		margin: calc(#{$top-margin} * 2) auto 0 auto;
	}
	
	#page-body {
		max-width: 1500px;
		margin: auto;
	}
	
	#content, #header, #footer {
		padding: $content-padding;
		margin: $content-padding / 2;
		width: 100%;
	}
	
	#header, #footer {
		display: flex;
	}
	
	
	// Headers & footers ////////////////////////
	
	.navbar-title {
		line-height: 2.5rem;
	}
	
	.navbar-links {
		padding-top: 0;
		margin-left: auto;
	}
	
	
	// Articles /////////////////////////////////
	
	.article-infobox {
		width: 20rem;
		float: right;
		margin: 0.5rem 0 1.3rem 1.4rem;
		border: 1px solid #aaa;
		padding: 0.3rem;
		background-color: #f8f9fa;
		clear: both;
	}
	
	.article-infobox-image {
		max-width: 100%;
		height: auto;
	}
	
	.article-content {
		text-align: justify;
		line-height: 1.8rem;
	}
	
	
	// Artist tiles /////////////////////////////
	
	.artist-tile-container {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(auto-fill, 12rem);
	}
	
	.artist-tile {
		display: grid;
		height: 14rem;
		justify-items: center;
		margin: 0.5rem;
	}
	
	.artist-tile-title {
		text-align: center;
	}
	
	
	// Contact form /////////////////////////////
	
	.contact-form-holder {
		width: 50%;
	}
	
	// Article tiles ////////////////////////////
	
	.article-tile {
		display: flex;
		align-items: center;
	}
	
	.article-tile h3 {
		padding-top: 0rem;
	}
	
	.article-tile-image-container {
		display: initial;
		max-width: 6rem;
	}
	
	.article-tile-image {
		width: 100%;
		height: 100%;
		box-shadow: 0.1rem 0.1rem $shade-color;
	}
	
	.article-tile-details-container {
		padding-left: 2rem;
	}
	
}

/* Added here because we don't want to set justify-items on desktop, which comes before mobile, so we set the value for mobile after all the desktop styles. */
@media #{$information-mobile} {
	.article-title-container {
		justify-items: center;
	}
}