@media #{$information-desktop} {
	
	html {
		margin: calc(#{$top-margin} * 2) auto 0 auto;
	}
	
	#page-body {
		max-width: 1100px;
		margin: auto;
	}
	
	#content, #header, #footer {
		padding: $content-padding;
		margin: $content-padding / 2 0;
		width: 100%;
	}
	
	#header, #footer {
		display: flex;
	}
	
	hr {
		margin-bottom: 2rem;
	}
	
	
	// Headers & footers ////////////////////////
	
	.navbar-title {
		line-height: 2.5rem;
	}
	
	.navbar-links-container {
		padding-top: 0;
		margin-left: auto;
	}
	
	
	// Articles /////////////////////////////////
	
	.article-container {
		display: block;
	}
	
	#infobox, .thumbnail-container {
		max-width: 18rem;
		margin: 0.5rem 0 1.3rem 1rem;
		float: right;
		clear: both;
	}
	
	.infobox-image {
		max-width: 90%;
	}
	
	.thumbnail-container {
		max-width: 15rem;
	}
	
	.thumbnail-container-fullwidth {
		max-width: 100%;
	}
	
	.header-nestled {
		clear: none;
	}
	
	
	// Artist tiles /////////////////////////////
	
	.artist-tile-container {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(auto-fill, 12rem);
	}
	
	.artist-tile {
		display: grid;
		height: 14rem;
		justify-items: center;
		margin: 0.5rem;
	}
	
	.artist-tile-title {
		text-align: center;
	}
	
	
	// Contact form /////////////////////////////
	
	.contact-form-holder {
		width: 50%;
	}
	
	// Article & artist tiles ///////////////////
	
	.article-tile {
		display: flex;
		align-items: center;
	}
	
	.article-tile h3 {
		padding-top: 0rem;
	}
	
	.article-tile-image-container {
		display: initial;
		max-width: 6rem;
	}
	
	.article-tile-image {
		width: 100%;
		height: 100%;
		box-shadow: 0.1rem 0.1rem $shade-color;
	}
	
	.article-tile-details-container {
		padding-left: 2rem;
	}
	
	.artist-tile-image {
		width: 100%;
		height: 100%;
	}
	
	
	// Footnote tooltip /////////////////////////
	
	.tooltip {
		display: none;
		position: absolute;
		font-family: $font-regular;
		border: 1px solid #777;
		background-color: #f8f9fa;
		padding: 2px 7px 2px 7px;
		box-shadow: 2px 2px 10px #999;
	}
	
}

/* Added here because we don't want to set justify-items on desktop, which comes before mobile, so we set the value for mobile after all the desktop styles. */
@media #{$information-mobile} {
	.article-title-container {
		justify-items: center;
	}
}