html {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	width: $display-width;
	margin: $top-margin auto 0 auto;
}

body {
	display: grid;
	grid-gap: 1rem;
	font-size: $font-small;
	line-height: $line-height;
}

#content, #header, #footer {
	background-color: $content-background-color;
	float: left;
	padding: $content-padding * 0.5;
	display: grid;
}

#header, #footer {
	align-items: center;
	width: 100%;
}

#content {
	font-family: $font-regular;
	display: block;
	margin: 1rem 0;
}

hr {
	margin: 0;
	border-top: 1px solid $shade-color;
}


// Links ////////////////////////////////////////

a {
	text-decoration: underline;
	color: $font-color;
}

a:hover {
	text-decoration: underline red;
}

a.navbar-link {
	font-family: $font-bold;
	margin-right: 0.5rem;
}

a.current {
  color: red;
}


// Headers & Footers ////////////////////////////

h1,header {
	font-size: $font-medium;
	font-family: $font-bold;
}

h1,h2,h3,h4,h5,h6,header {
	/* clear: both; */
}

h2,h3 {
	padding-top: 2rem;
}

.navbar-title {
	font-family: $font-ubold;
	font-size: $font-large;
	line-height: 1.1;
}

.navbar-links-container {
	justify-self: end;
	padding-top: 1rem;
}

.navbar-link {
	font-size: 1.1rem;
}

.page-modified-date {
    font-family: $font-bold;
}

.social-media-icon {
	text-decoration: none;
}

a.social-media-icon:hover {
	text-decoration: none;
}


// Artist tiles /////////////////////////////////

.artist-tile {
	margin: 0.5rem 0;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	border: 2px solid black;
	box-shadow: 0.1rem 0.1rem $shade-color;
}

.artist-tile:hover {
	border: 4px solid red;
}

.creator-profile {
	height: 4rem;
	padding-right: 1rem;
}
	
.artist-tile-title {
	font-family: $font-regular;
	font-size: $font-medium;
}


// Article tiles ////////////////////////////////

.article-tile-image-container {
	display: none;
}

.article-tile {
	padding: 0 1rem;
	margin: 1rem 0;
}

.article-tile h3 {
	padding-top: 0;
}

.article-tag {
	font-style: italic;
}


// Articles /////////////////////////////////////

header {
	margin: 0.5rem 0 0.4rem 0;
}

.article-container {
	display: flex;
	flex-direction: column;
}

.article-container #infobox {
	order: 2;
}

.article-container #featured-paragraph {
	order: 1;
}

.article-container :nth-child(n+3) {
	order: 3;
}

#featured-paragraph {
	margin-bottom: 0;
}

// Article infobox & thumbnails

#infobox, .thumbnail-container {
	border: 1px solid $shade-color;
	padding: 0.3rem;
	font-size: 95%;
	background-color: #f8f9fa;
}

#infobox {
	margin: 1rem auto 1rem auto;
	width: 100%;
	max-width: 100%;
}

#infobox caption {
	font-weight: 700;
	font-size: $font-small;
	margin-bottom: 0.3rem;
}

#infobox-subtitle {
	text-align: center;
	padding: 0 0.2rem;
}

#infobox tr {
	min-width: 100%;
	display: flex;
	flex-flow: row nowrap;
	border-bottom: 1px solid #eaecf0;
	padding: 0.5rem 0;
}

#infobox th, td {
	flex: 1 0;
	text-align: left;
}

#infobox tr:nth-last-of-type(1) {
	border-bottom: none;
}

.infobox-image {
	max-height: 100%;
	max-width: 60%;
	display: block;
	margin: 0 auto 0.3rem auto;
}

.thumbnail-container {
	width: 70%;
	margin: 0.5rem auto;
	font-size: 85%;
}

.thumbnail-container-fullwidth {
	width: 100%;
	margin: 0.5rem auto;
	font-size: 85%;
}	

.thumbnail-image {
	max-height: 100%;
	max-width: 100%;
	margin: auto;
}

.thumbnail-caption {
	margin-top: 0.3rem;
}

// Quotes

.quote {
	margin-top: 1rem;
	padding: 0.5rem;
	overflow: hidden;
	border-left: 1px dotted black;
}

.quote p:nth-child(1) {
	margin-block-start: 0;
}
.quote p:nth-last-child(1) {
	margin-block-end: 0;
}

.quote-attrib {
	text-align: right;
	font-style: normal;
}

// Image gallery

.gallery-grid { 
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 0.5rem;
	align-items: start;
}

.gallery-grid img {
	border: 1px solid #ccc;
	padding: 0.2rem;
	max-width: 100%;
}

.gallery-grid figcaption {
	font-size: 85%;
}

// Collapsible textboxes

.collapsible-text-container {
	padding: 0.5rem 0;
}

.collapsible-text-button {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.active, .collapsible-text-button:hover {
  background-color: #555;
}

.collapsible-text-button:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.collapsible-text-content {
  padding: 0 1rem;
  background-color: #eee;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


// Contact form /////////////////////////////////

.contact-form-holder {
	margin-top: 2rem;
	width: 100%;
}

input[type=text] {
	width: 100%;
	padding: 0.2rem;
	border-style: none none solid none;
	border-color: $font-color;
}

textarea {
	width: 100%;
	padding: 2rem 0.2rem 0.2rem 0.2rem;
	border-style: none none solid none;
	border-color: $font-color;
	resize: vertical;
}

button {
	display: block;
	width: 5rem;
	padding: 1rem;
	border: none;
	background-color: $font-color;
	color: #fff;
	font-weight: 600;
	width: 100%;
}

