{% include collapsible_start.html title="Asger Jorn: Intimate Banalities" %}
{% capture my_include %}

from *Helhesten, Vol. 1, No. 2, Copenhagen 1941, pp. 33-38*
  
*&quot;Taste will be passed on, you see
Hyenas live in misery&quot;*
Johannes Holbek

One typically sees that he who has lost touch with the fundamentals of art also lacks a sense of the banal. I am not referring to the ability to see whether something is banal, for that particular ability is developed to a regrettable extent; I speak of the ability to understand the artistic value of banality. Indeed, its fundamental importance for the arts. There are countless examples of anonymous banalities whose validity and power span centuries and far surpass any brilliant performance by our so-called great figures. If you look carefully, you will also find that even their merits reside in their ability to get to grips with banalities.

The great work of art is the perfect banality, and the failing of most banalities is that they are not banal enough. In such cases, the banality is not endless in scope, depth, and consequence; it rests on dead foundations of spirituality and aesthetics.

That which we call &quot;natural&quot; is liberated banality. The commonplace, the matter-of-fact, with no attempts at imposing upon it the stamp of rarity. It is important to emphasise that the foundation of art is precisely the eternally commonplace, the simple and cheap which turns out to be our most precious, most indispensable possessions.

No other place has so many tasteless things as Paris. This is precisely the secret behind the fact that it remains the place where the inspiration of art still lives.

For example, there is a direct symbolic strength in the words:

Say it
with flowers,

which makes this stanza one of the pillars of Danish poetry. It is worn-out like a comfortable boot of perfectly ordinary, good fit, and within the realm of music it can only be compared to amateur bands playing out of tune. 
Being able to play out of tune is one of the greatest musical feats today. Innovation in music should be sought on the basis of street organs and cheap gramophones.

My greatest musical experience took place in a small, provincial town where the inhabitants were suddenly grabbed by a most enchanting desire to play small magic flutes made from celluloid. There was a spellbinding power to this small instrument, which emitted delicate, yet piercing trills up and down, so that people would play it all over town, day and night, only this simple, single trill, up and down. Every boy, every girl, men and women, even elderly honourable citizens would secretly carry the small pan pipes in their pockets, taking it out when they believed themselves unobserved to drink in a few warbles of this captivating wonder. But the people whose own inner strings were broken suffered from the noise, which seemed so irrelevant to them. Letters were submitted to newspapers, to no avail, and speeches were held against the &quot;racket,&quot; as it was termed.

Only when influential citizens prevailed upon the police to take steps against the troublemakers, introduce bans on selling the flutes, and arrest everyone found in possession of the infamous celluloid contraptions did the great fear slowly resume its grip on the population of the small town, prompting a return to the normal depressions so valuable to peace of mind and the established form of society.

The truth of this account can be confirmed by many witnesses, whereas no investigations as to the reasons behind it have ever, to the best of my knowledge, been conducted.

Jens August Schade seems to me to be the only Danish poet to truly feel how people create and use primary values in banalities, the only one to consistently base his art on this crucial matter, setting it free to such an extent that his poetry constantly grows and renews itself from the inside the more it is used; much like the fairytales of Hans Christian Andersen.

Those who seek to curtail the production of banal art are enemies of the best of today’s art. The images of woodland lakes found in thousands of living rooms clad in golden-brown wallpapers stand among the deepest, most profound inspirations of art. It is always tragic to see people toiling to saw away the branch on which they themselves are perched.

The children who love printed scraps and paste them into scrapbooks printed with the legend

ALBUM

bring greater hope to artists than any plethora of art critics and museum directors. One hears many educators complaining that around the age of twelve, children stop doing good drawings. They should rejoice in this development, which is a precondition for human awareness. I would try to show the cheap things that nourish art. The cheap things, they are the things from the nethermost land that Gustaf Munch-Petersen wrote about. I will not omit reprinting his poems as it stands:

o great bliss great bliss they were given
who were born in the nethermost land -
everywhere you may see them
walking
loving
crying -
everywhere they walk
but in their hands they carry the little things
from the nethermost land -
– – –

o greater than any land
lovelier
is the nethermost -
upwards the earth twists
to a point -
and downwards
outwards sinks the heavy
living blood
into the innermost land -
– – –

narrow cautious feet
and thin limbs
and pure is the air
above the open rising roads -
in closed veins
the longing burns in those
born up under the sky -

but o
You should go to the nethermost land - !
O you should see the people from the nethermost land.
– where the blood flows freely between all
men -
women -
children -
where joy and despair and bodily love
heavy, verdant and ripe
sparkle in all colours to the earth –
o the earth is secretive as a forehead
in the nethermost land -
– – –

everywhere you may see them
walking
loving
crying -
their faces are closed,
and on the insides of their souls
sits soil
from the nethermost land -

If one seeks to understand the position of art today, one must also seek to understand the conditions that shaped the development of our awareness of art and our awareness of its relationship with individual human beings and with society in general. The artist participates actively in the struggle to expand this our knowledge of the foundations of our existence; the foundations which make artistic creativity possible. The artist’s attention cannot be limited to a single field of pursuit; he must seek the highest awareness of everything, of the whole and its details. Nothing can be sacred to him, because everything is meaningful to him.

There can be no picking, no choosing; there can only be a penetration into the entire cosmic law of rhythms, forces, and matter which is the real world, from the ugliest to the most beautiful, everything that has character and expression, from the coarsest and most brutal to the gentlest and most delicate, everything that, having life, speaks to us.

It follows, then, that one must know everything in order to express everything.

This is an abolition of the aesthetic principle. We are not disillusioned, for we have no illusions; we never had any.

What we do have, and that is our strength, is our joy in life, our interest in life in all its amoral incarnations. That is also the basis for the art of our time. We do not even know the laws of aesthetics. This old notion of selection according to the principle of beauty: beautiful – ugly, like the noble – sinful of ethics, is dead to those of us to whom the beautiful is also ugly and all that is ugly is imbued with beauty.

Behind comedy and tragedy we only find the dramas of life which unite them both, not in noble heroes and treacherous villains, only in people.

We know that he who reads about criminals reads about something in himself. There are no beautiful dances or movements, only modes of expression. That which is called beautiful is simply an expression of something. Our music is not un-aesthetic, it has nothing to do with aesthetics. We do not recognise the existence of architecture. There are only houses and sculptures. Machines for living in and giant plastic art. The Cologne Cathedral is a hollow, magical sculpture with a purely psychological purpose. A beer mug is architecture.

There are no styles, and there never were. Style is an expression of bourgeois content, its nuances are called taste.

There is no absolute distinction between sculpture and painting. No mode of artistic expression can be isolated by virtue of its form, they are simply different means employed for a common artistic goal. Sandpaper and cotton wool are as noble, as useful as means of expression as are oils and marble. These are the guidelines for the break with bourgeois perceptions of art.

The break with idealism as a philosophy of life is universal in scope, but it also touches upon a central feature of art – its purpose in life, its life contents.

One must understand that it is impossible to distinguish between the form and contents of a painting. Just as the structure of a flower is determined by an inner tension (when it loses its juices, it loses its shape), so it is in art: the contents creates tension, creates shape. Form and content is the same being. Form is the phenomena of life and content the living painting.

The contents of the painting reflects the contents of the painter; it shows how much he has felt of himself and his times, the breath of his scope and the depth of his experience.

We cannot inherit a rigid, immobile outlook on life and art from the older generation. The expression of art is different for each time frame, as are our experiences. A new experience creates a new form.

We are willing to learn everything we need from older generations, but we will decide for ourselves what we need; no-one else can do that for us. Our task is not to receive and work with whatever the older generation would like to see us work with. Quite the contrary: the task of the older generation is to help us where we want its help.

This piece addresses issues which are so intimate in nature that they involve every human being. No-one can withdraw their personality from this. There is no observer, can be no observer in our present day.

{% endcapture %}
{% include collapsible_end.html %}