{% include collapsible_start.html title="Foreward (P. V. Glob)" %}
{% capture my_include %}

There are no major works and smaller essays on Nordic ancient and medieval art, but often the presentation of this visual world is only an account of style development, context of contemporary European art, chronology and technology. Here you want to go a different route, let the pictures speak for themselves, accompanied only by an introduction and by the necessary facts about the depicted works of art.

This path is achievable because the artist and scientist have followed. Thus, the artist selects and compiles the interrelationships of the images in the group to be processed, gathering these images into a continuous collage, so that they can be seen both individually and in context, while the scientist provides them with the necessary documentation.

Such a connection has already been established a quarter of a century ago, when a circle of young artists and scientists published the journal "Helhesten," in which they sought to show the interaction between visual art and the rest of cultural life, and other topics such as archeology and ethnography.

Out of this a co-operation arose, like a tree, a branch, whose two branches were arts and sciences, planted in fertile soil and with foliage from common root.

For most of "Helhesten" this became of great importance, and this was continued through personal contacts to this day, well in addition to the magazine's two successful yearly collections, which now belong to the greatest rarities of art history.

It is peculiar to imagine that the most distinctive Nordic art is not found in art museums, but in cultural history museums and in the landscape as monuments.

That is perhaps why it has not been sufficiently recognized and valued so far.

But it is this art that many works of this type should bring to public knowledge, and not only to the Nordic peoples, but to the whole world, because the universal significance of this art is obvious.


{% endcapture %}
{% include collapsible_end.html %}