{% include collapsible_start.html title="Church Vandalism" %}
{% capture my_include %}

In Byzantium, there was a great deal of religious vandalism - vandalism that Louis Réau was only imperfectly able to distinguish and isolate. Some priests scratched the icons, detaching them from the plots of land they collected in a chalice, with the intention of making the faithful take communion. These icons - the pinnacle of religious art at the time - were thus truly delivered for consumption.

This fetishism of absorption caused the meaning and significance of art to be changed and obscured.

To stop this vandalism of nutrition, which had become ritual, the Emperor decreed iconoclasm; all those who privately owned icons were invited to bring them to Constantinople, where they were burned in public places. This was obviously a counterbalance to vandalism by another: that of the sacrifice, of the potlatch.

However, this governmental vandalism cannot be compared to the first - popular one.

In the first case, it was a party. This consumption - however naive it may have been - contained genuine elements of love and faith: it was happy vandalism.

P.V. Glob reports, among other cases, that of cake-images whose perfect absorption involved the destruction of human beings, and therefore a certain cannibalism. Anthropophagy comes more precisely from Teutonism of which it reveals, aberrantly, the will of purity and aestheticism. And it is the aberrations of this will that are found in the vandal domain - a domain where historical data compels us to establish similar categories.

Emile Male, in his work "The end of paganism in Gaul", informs us of the fame - in medieval and northern France - of the tomb of the Merovingian bishop Saint-Drausin. This tomb, now kept in the Louvre Museum, was originally in the church of Notre-Dame in Soissons. The knights who went to fight in an enclosed field stayed near it, and Saint Thomas of Canterbury, who was about to return to England where he knew he would have to face Henry II, held a vigil of arms there. Coming on pilgrimage, the faithful used to take a few pieces of the lid with them, which they diluted in water and made the sick drink. This custom, which continued for centuries, made the lid almost completely disappear. The one we see today in the Louvre is not the original one, but another one which is Visigoth and comes from the church of Saint-Germain-des-Prés.

Also in Spain, the tombs of the Visigothic kings show traces of the same activity.

We are forced to note that we are no longer simply here in the notion of sacrifice inherent in any art, but rather in the face of an avowed sarcophagy. We must think that it was the Germanic peoples who spread the custom of absorbing sarcophagi by mouth.

The similar destruction of the tombs of the Egyptian pharaohs would rather have been the work of North African vandals. Moreover, the sheer extent of the destruction leads us to suppose that the export to Germanic Europe of this substance, so greatly appreciated by the pharmacopoeia of the Middle Ages, was highly organized.

The deformations of the walls of Norman churches - especially in Damville - seem to bear witness to this surprising variety of vandalism. And I don't think I would venture to say that the Normans, when they landed in Gaul, introduced the ancient Germanic custom of ingestion of symbolically sacred materials. Materials that also included the walls of religious buildings.

Now the mystery of the relationship between the Templars and Norman graffiti (especially those of Gisors: barefoot prints) has been cleared up. It is no longer possible to charge them with an accusation - even implicit - of a desire for concealment and secrecy: the Templars were simply sarcophagi.


{% endcapture %}
{% include collapsible_end.html %}