{% include collapsible_start.html title="The Touchstone" %}
{% capture my_include %}

Neither erosion on the one hand, nor the Norman's willingness to swallow it on the other, is sufficient to explain why the stone of Norman buildings has been so bitten and eaten away at.

Attached to the act of sharpening - and for centuries - an important sexual symbolism leads us to believe that the stone of church walls was used there as a whetstone. Oral tradition confirms this use - both for weapons and for agricultural tools used for harvesting.

The act of sharpening was a sacred act.

To my knowledge, there are few studies on this subject. However, Professor Michel de Bouard confirms that the whetstone was an object often found in the graves of Merovingian warriors.

The most spectacular is the one in the shape of a scepter with several heads, found at Sutton Hoo. As a symbol of male sexuality, it is of great interest and directly related to the myths about Odin. Especially with the myth that Odin seized the Kvasir drink contained in three vases hidden by the giant Suttung and watched over by his daughter - Gunlod. After sharpening the sickles of nine men (who later killed each other), Odin twisted a hole in the mountain into a snake and slid down to the girl and the treasure.

The stone that the Norman peasants carry, during the harvest, in a horn attached to their belt, seems to us to intersect the northern version of the sign of the Grail. These same peasants would like to point out that they hold the stone wet by urinating in the horn. Pictured by graffiti number 91. Pagan interpretation of the Grail sign.


{% endcapture %}
{% include collapsible_end.html %}