{% include collapsible_start.html title="The three and its image in secularity" %}
{% capture my_include %}

In his book "Die dreikôpfigeGottheit", Willibald Kirfel argues that the origin of this image of the three-headed god dates back to the pre-Celtic, megalithic (or Neolithic) period and that it has its place in the Mediterranean cultural world. Among the African Jorubas, it is called Schango - the god of thunder - and is linked to secret organizations. She can be found all over the world.

Frobenius assures that through the number three expresses the feeling and the idea of Time-.past, present, future, and that the number four is a projection in space of the directions of the flat surface. Frobenius' proposal seems to be corroborated by the existence of Spanish pictorial representations of the month of January: triple heads which, by their obvious symbolism, send us back to secularity. This explains the Catholic Church's opposition to the three-faced image of the Trinity. The Christian concept of duality probably stems from the notion of opposites such as black and white and the double face of Janus (January).

The French National Library holds a drawing by Botticelli illustrating one of the scenes from Dante's "The Divine Comedy". Botticelli represented Dante at the side of a three-headed devil. Dante wrote: "Oh how great a subject of wonder it seemed to me when I saw that his head had three faces. One in front, and this one was red. The one on the right appeared between white and yellow. The one on the left was similar in appearance to the faces of the people who came from where the Nile descends (that is, between blue and black). »

Let us remember that the book for which Abelard was condemned concerned the Trinity, and that the oratory he had built in Nogent-sur-Seine was also dedicated to the Trinity.


{% endcapture %}
{% include collapsible_end.html %}