---
layout: article
title: La langue verte et la cuite (Contents)
categories: books
description: is the complete text of La langue verte et la cuite, a book on structuralist theory and cooking by Asger Jorn and Noël Arnaud, edited and published by Jean Jacques Pauvert in 1968.
tags: asger-jorn
featured-image: /assets/articles/la-langue-verte/front.jpg
last_modified_at: 2020-12-10
---

<section>
	<table id="infobox">
		<tbody>
			<tr>
				<td colspan="2">
					<a href="#" data-featherlight="/assets/articles/la-langue-verte/front.jpg"><img class="infobox-image" src="/assets/articles/la-langue-verte/front.jpg"></a>
				</td>
			</tr>
			<tr>
				<td colspan="2" id="infobox-subtitle"><cite>La langue verte et la cuite</cite></td>
			</tr>
			<tr>
				<th scope="row">Authors</th>
				<td>Asger Jorn &amp; Noël Arnaud (Jean Jacques Pauvert editor)</td>
			</tr>
			<tr>
				<th scope="row">Publisher</th>
				<td>Jean Jacques Pauvert</td>
			</tr>
			<tr>
				<th scope="row">Publishing date</th>
				<td>1968</td>
			</tr>
			<tr>
				<th scope="row">Series</th>
				<td>Library of Alexandria, Vol. 3</td>
			</tr>
		</tbody>
	</table>
	
	<p><strong>{{ page.title }}</strong> is a book written in French by Asger Jorn and Noël Arnaud, and edited and published by Jean Jacques Pauvert in 1968. The book was written in reaction to the 1964 book <em>Le cru et le cuit (The Raw and the Cooked)</em> by Claude Lévi-Strauss, which was an examination of structuralist theory. The book contains numerous short essays with titles that parody French culinary dishes and texts that focus on Jorn and Arnaud's dissatisfaction with structuralist theory, coupled with historical greyscale images where the tongues of sculptures, people, and animals have been distinctly highlighted in colour. The book is 327 pages in length and contains over 300 images.<p>
<section>

<section>
	<h2>Contents</h2>
	
	<p>Presently, the texts of the book are only available in French at this archive.</p>
	
	<h4>Prélude aux fines herbes</h4>
	
	{% include_relative la-langue-verte-contents/01_hommage_americaine.html %}
	{% include_relative la-langue-verte-contents/02_sermon_fume.html %}
	
	<h4>Ouverture gastrophonique</h4>
	
	{% include_relative la-langue-verte-contents/03_soupe_au_laiton.html %}
	{% include_relative la-langue-verte-contents/04_potage_sonhorrifique.html %}
	{% include_relative la-langue-verte-contents/05_trombone_in_brodo.html %}
	{% include_relative la-langue-verte-contents/06_rigaudon_au_tord_boyau.html %}
	{% include_relative la-langue-verte-contents/07_chiantinata.html %}
	
	<h4>Sonate en sole meunière</h4>
	
	{% include_relative la-langue-verte-contents/08_pupitre_a_concombres.html %}
	{% include_relative la-langue-verte-contents/09_omelette_au_bugle_en_chaleur.html %}
	{% include_relative la-langue-verte-contents/10_salome_en_tranches.html %}
	{% include_relative la-langue-verte-contents/11_rot_meuniere.html %}
	{% include_relative la-langue-verte-contents/12_rillettes_romeo.html %}
	{% include_relative la-langue-verte-contents/13_abeilard_fume.html %}
	
	<h4>Symphonie aux poireaux râpés</h4>
	
	{% include_relative la-langue-verte-contents/14_hareng_rouge_transistor.html %}
	{% include_relative la-langue-verte-contents/15_sourdine_a_lhuile.html %}
	{% include_relative la-langue-verte-contents/16_couleuvres_hors_saison.html %}
	{% include_relative la-langue-verte-contents/17_ecrevisses_aux_ecrous.html %}
	{% include_relative la-langue-verte-contents/18_nouveau_diapoisson_cru.html %}
	{% include_relative la-langue-verte-contents/19_pathetique_surgelee.html %}
	{% include_relative la-langue-verte-contents/20_pate_de_klacson.html %}
	{% include_relative la-langue-verte-contents/21_lard_du_rein.html %}
	{% include_relative la-langue-verte-contents/22_andouille_en_accordeon.html %}
	{% include_relative la-langue-verte-contents/23_pate_de_crane.html %}
	{% include_relative la-langue-verte-contents/24_saucisson_pickup.html %}
	
	<h4>Opéra buffet</h4>
	
	{% include_relative la-langue-verte-contents/25_langouline_frite.html %}
	{% include_relative la-langue-verte-contents/26_cle_de_sole_en_filets.html %}
	{% include_relative la-langue-verte-contents/27_re_au_beurre_noir.html %}
	
	<h4>Fugue aux figues à la gomme chromosommaire</h4>
	
	{% include_relative la-langue-verte-contents/28_valse_comestible.html %}
	{% include_relative la-langue-verte-contents/29_orgue_de_barbare_a_rome.html %}
	{% include_relative la-langue-verte-contents/30_contrecote_de_danse.html %}
	{% include_relative la-langue-verte-contents/31_bolerigor_mortis.html %}
	{% include_relative la-langue-verte-contents/32_mazurka_in_pentola.html %}
	{% include_relative la-langue-verte-contents/33_lesso_eroico.html %}
	{% include_relative la-langue-verte-contents/34_mendelsohn_cochere.html %}
	{% include_relative la-langue-verte-contents/35_minuetto_po_lenta.html %}
	{% include_relative la-langue-verte-contents/36_pizzicato_al_pommo_doro.html %}
	{% include_relative la-langue-verte-contents/37_corne_de_beef.html %}
	
	<h4>Cantate quantique au plat réchauffé</h4>
	
	{% include_relative la-langue-verte-contents/38_chanson_au_feu_de_bois.html %}
	{% include_relative la-langue-verte-contents/39_cruautes_a_la_boissellerie.html %}
	{% include_relative la-langue-verte-contents/40_pathetique_faisandee.html %}
	
	<h4>Toccata au foie gras en caisse</h4>
	
	{% include_relative la-langue-verte-contents/41_pastorale_rissolee.html %}
	{% include_relative la-langue-verte-contents/42_portee_de_cochons.html %}
	{% include_relative la-langue-verte-contents/43_grillade_a_la_chaise.html %}
	{% include_relative la-langue-verte-contents/44_chopin_grille.html %}
	{% include_relative la-langue-verte-contents/45_gigue_a_la_noix.html %}
	{% include_relative la-langue-verte-contents/46_beuglophonie_a_voix.html %}
	{% include_relative la-langue-verte-contents/47_cotelette_au_jus.html %}
	
	<h4>Interlude au coup de rouge en timbale</h4>
	
	{% include_relative la-langue-verte-contents/48_le_canard_limonaire.html %}
	{% include_relative la-langue-verte-contents/49_soprano_en_croute.html %}
	{% include_relative la-langue-verte-contents/50_beignet_tartare.html %}
	<ul>
	<li>La tèse de veau à la vinaigrette</li>
	<li>Rhapsodie aux pommes</li>
	<li>Quartête du chef au four</li>
	<li>Passacaille aux raisins à la Bacchus</li>
	<li>Les steaks de l'Asie centrale</li>
	</ul>
	
	<h4>Suite à la culotte de bœuf façon bonne femme</h4>
	<ul>
	<li>Cornet de frites au piston</li>
	<li>Poireaux andante cantabile</li>
	<li>Chou-fleur crescendo non tropo</li>
	<li>Salade à l'egretto</li>
	<li>Marche aux flageolets</li>
	<li>Radis aphones</li>
	<li>Pissenlits à l'hélicon</li>
	</ul>
	
	<h4>Sérénade à bras liés</h4>
	<ul>
	<li>Violon sel marin</li>
	<li>Tranches de Walkurie d'agneau de vie</li>
	<li>Cymbale renversée</li>
	<li>Toscarotte flambée</li>
	<li>Riz au nez soprano</li>
	<li>Tripes à la note</li>
	<li>Ventriloque sur canapé</li>
	<li>Fiasco da gamba</li>
	</ul>
	
	<h4>Divertimento au tournedos Benjamin</h4>
	<ul>
	<li>Élégie au fromage blanc</li>
	<li>Hot jazz à la came Ambert</li>
	<li>Cornemuse de grand stilton</li>
	<li>Récitation en brie mineur</li>
	<li>Cantal B.W.V. 753</li>
	<li>Marche militaire au Port-Salut</li>
	<li>Bourrée bleue d'Auvergne</li>
	<li>Roquefort pour piano-forte</li>
	<li>Gorgon sola mia</li>
	</ul>
	
	<h4>Concert farci à la salade déserte</h4>
	<ul>
	<li>Tango à la crème Chantilly renversée</li>
	<li>Vedette biscuit</li>
	<li>Fraises hautbois</li>
	</ul>
	
	<h4>Finale aux pets de nonne</h4>
	<ul>
	<li>Poire à la clarinette</li>
	<li>Tarte à la rigolade</li>
	<li>Banane pour un enfant défunt</li>
	<li>La compote anglaise</li>
	<li>Sucette haute-fidélité</li>
	<li>Tarte au gong</li>
	</ul>
	
	<h4>Postlude a la fine champagne</h4>
	<ul>
	<li>Codi di tromba</li>
	<li>Soufflé a la trompinette mielleuse</li>
	<li>Soupir en gélatine</li>
	</ul>
</section>

{% include collapsible.html %}