---
layout: article
title: Skånes stenskulptur under 1100-talet
description: Skånes stenskulptur under 1100-talet is a book written in Swedish by Erik Cinthio, with photography by Gérard Franceschi and arrangement by Asger Jorn. The book is a photographic documentation of stone sculpture from the 12th century with a focus on the Skåne region of southern Sweden.
categories: books
tags: asger-jorn
last_modified_at: 2020-12-12
---

<div class="thumb-right">
	<div class="thumb-image-container"><a href="#" data-featherlight="/assets/articles/skanes-stenskulptur/front.jpg"><img class="thumb-image" src="/assets/articles/skanes-stenskulptur/front.jpg"></a></div>
	<div class="thumb-text"><p align="center"><strong>Skånes stenskulptur under 1100-talet</strong></p>
	<p>Erik Cinthio, Gérard Franceschi, Asger Jorn ed.</p>
	<p>Privately published, 1965</p></div>
</div>

<p><strong>{{ page.title }}</strong> is a book written in Swedish by Erik Cinthio, with photography by Gérard Franceschi and arrangement by Asger Jorn. The book was published privately in an edition of 120 copies by Jorn in 1965 and later republished by Borgen in 1995. The book is a photographic documentation of stone sculpture from the 12th century with a focus on the Skåne region of southern Sweden. Cinthio includes historical essays and Jorn provides artistic framing of the project alongside an essay of &quot;random remarks&quot; at the end of the book. The book was republished in a wider edition in 1995 by Borgen in Copenhagen, Denmark.</p>

<p><em>{{ page.title }}</em> forms the first volume of the multi-volume series <em>10,000 Years of Nordic Folk Art</em>:</p>

<div class="quote">
<p>Upon resigning from the Situationist International in 1961, [Jorn] conceived the multivolume series <em>10,000 Years of Nordic Folk Art</em>, and founded the Scandinavian Institute of Comparative Vandalism with a few friends to oversee this project... Each volume was to be dedicated to a particular aspect or region of
Scandinavian folk culture, with a written section contributed by a scholar and a larger section of photographs to follow. Jorn was struck by the possibilities of André Malraux’s various series of books on art, published from 1947 on, and even hired Gérard Franceschi, the chief photographer at the Louvre... to take the majority of the photographs for his own, even larger series. Significantly, Jorn insisted on the separation of text and image, so that images could function independently of text and be arranged according to an order intrinsic to the images themselves.
</p>
<p class="quote-attrib">- Steven Harris, <a href="https://www.mitpressjournals.org/doi/pdfplus/10.1162/OCTO_a_00103" target="_blank">How Language Looks: On Asger Jorn and Noël Arnaud's <em>La langue verte</em></a></p>
</div>

<p>In Jorn's lifetime, <em>{{ page.title }}</em> would be the only volume of <em>10,000 Years of Nordic Folk Art</em> to see publication. Harris further writes:</p>

<div class="quote">
<p>...this project was stillborn, as Jorn was unable to persuade funding agencies to support the project unless he relinquished control of its overall direction—and over the presentation of images in particular, which others found eccentric. Jorn produced one volume as a pilot, in order to give potential investors a proper idea of what he had in mind, but rather than lose control of the project, he chose to shut it down in 1965.</p>
<p class="quote-attrib">- Ibid.</p>
</div>

<h3>Contents</h3>

{% include_relative skanes-stenskulptur/foreward_glob.html %}

{% include_relative skanes-stenskulptur/skane_landskapet_cinthio.html %}

{% include_relative skanes-stenskulptur/skane_stenmastarna_cinthio.html %}

{% include_relative skanes-stenskulptur/bildvarlden_cinthio.html %}

{% include_relative skanes-stenskulptur/bildvarlden_betydelsefunktionen_cinthio.html %}

{% include_relative skanes-stenskulptur/lunds_domkyrka_cinthio.html %}

{% include_relative skanes-stenskulptur/randanmaerkninger_jorn.html %}


<h2>Explore the Book</h2>

{% include_relative skanes-stenskulptur/book_embed.html %}

<h2>Gallery</h2>

<section
	data-featherlight-gallery
    data-featherlight-filter="a"
	class="gallery-grid"
    >
		<figure>
			<a href="/assets/articles/skanes-stenskulptur/dedication.jpg"><img src="/assets/articles/skanes-stenskulptur/dedication.jpg"></a>
			<figcaption>The copy of the book in the University of Copenhagen library is dedicated by Jorn and dated July 2, 1965.</figcaption>
		</figure>
		
		<figure>
			<a href="/assets/articles/skanes-stenskulptur/skane_map.jpg"><img src="/assets/articles/skanes-stenskulptur/skane_map.jpg"></a>
			<figcaption>The included map of the Skåne region of southern Sweden shows locations of churches from which sculptures are depicted in the book (black circles), churches in which depicted sculptures were found but are now stored in Lund University's historical museum (white circles), and places only mentioned in the book's text (white squares).</figcaption>
		</figure>
	
		<figure>
			<a href="/assets/articles/skanes-stenskulptur/lund_1580.jpg"><img src="/assets/articles/skanes-stenskulptur/lund_1580.jpg"></a>
			<figcaption>Detail of a copper engraving of Lund from 1580 which was included in the book.</figcaption>
		</figure>
	
		<figure>
			<a href="/assets/articles/skanes-stenskulptur/lund_tympanum.jpg"><img src="/assets/articles/skanes-stenskulptur/lund_tympanum.jpg"></a>
			<figcaption>Tympanum over the northern entrance of Lund Cathedral, showing the biblical tale of Samson defeating the lion in the centre.</figcaption>
		</figure>
</section>

<h2>References</h2>



{% include collapsible.html %}