---
layout: article
title: Asger Jorn à Silkeborg
categories: books
tags: asger-jorn
last_modified_at: 2020-12-10
---

<div class="thumb-right">
	<div class="thumb-image-container"><a href="#" data-featherlight="/assets/articles/jorn-a-silkeborg/asger_jorn_a_silkeborg_cover.jpg"><img class="thumb-image" src="/assets/articles/jorn-a-silkeborg/asger_jorn_a_silkeborg_cover.jpg"></a></div>
	<div class="thumb-text"><p align="center"><strong>Asger Jorn à Silkeborg</strong></p>
	<p>Asger Jorn, Troels Andersen, Jean Dubuffet, Erik Nyholm</p>
	<p>Silkeborg Kunstmuseum, 1978</p>
	<p>ISBN 87-980325-6-9</p></div>
</div>

<p><strong>{{ page.title }}, Le musée d'un peintre</strong> (Asger Jorn in Silkeborg, a painter's museum) is a partial catalogue of works held by the Silkeborg Museum of Art with a focus on the art of Danish painter Asger Jorn and the relationship that the museum's other works have with Jorn's art. The contents were published in 1978 by the museum in the French language and under the direction of Troels Andersen, who was the museum's director from 1973-2004.<p>

<p>The book contains the following sections:</p>

<ul>
<li>Biography of Jorn</li>
<li>Essay <em>Origins and Paths of Unity</em> by Asger Jorn, from the publication <em>Asger Jorn: Pour la forme</em>, Paris 1957, pp. 131-132</li>
<li>Essay <em>Intimate Banalities</em> by Asger Jorn, from the magazine <em>Helhesten</em>, Volume I, Number 2, Copenhagen 1941, pp. 33-38</li>
<li>Essay <em>The Collections of Asger Jorn in Silkeborg</em> by Troels Andersen</li>
<li>A brief description of French artist Jean Dubuffet's work <em>Epokhè</em>, a large sculpture that Jorn commissioned from Dubuffet for the external façade of the Silkeborg Art Museum</li>
<li>Essay <em>Have Fun</em> by Erik Nyholm</li>
</ul>

<h3>Jean Dubuffet's mural <em>Epokhè</em> for the Silkeborg Museum of Art</h3>

<div class="thumb-full">
	<div class="thumb-image-container"><a href="#" data-featherlight="/assets/articles/jorn-a-silkeborg/dubuffet_epokhe_sketch.jpg"><img class="thumb-image" src="/assets/articles/jorn-a-silkeborg/dubuffet_epokhe_sketch.jpg" title="A sketch of Epokhè by Jean Dubuffet" alt="" width="100%"/></a></div>
	<div class="thumb-text">Dubuffet's sketch for Epokhè.</div>
</div>

<div class="thumb-right">
	<div class="thumb-image-container"><a href="#" data-featherlight="/assets/articles/jorn-a-silkeborg/dubuffet_mural_2017.jpg"><img class="thumb-image" src="/assets/articles/jorn-a-silkeborg/dubuffet_mural_2017.jpg"></a></div>
	<div class="thumb-text">Detail of the mural outside the Silkeborg Museum of Art, 2017.</div>
</div>

<p><em>Translated from the French text:</em></p>

<p>At the end of the sixties, Asger Jorn, in his efforts to create a new art museum in Silkeborg, asked his friend Jean Dubuffet for permission to erect a large sculpture of his in front of the museum. Jean Dubuffet approved the project. After the death of Jorn, the plans for the construction of the existing museum had to be modified and Dubuffet again satisfied the museum's proposals by accepting that his sketch for a large ceramic wall, originally commissioned by the French State in 1965, should be incorporated at the outer facade of the new Silkeborg Museum.</p>
	
<p>The relief is entitled <em>Epokhè</em>. It is a term that belongs to the philosophical language and means &quot;suspension of judgment.&quot; The wall measures 4.5 m by 22.5 m. It was realized by the Danish ceramist Erik Nyholm in collaboration with the workshop &quot;Ild og ler&quot; in Jutland.</p>

<h2>Essays</h2>

{% include_relative jorn-a-silkeborg/origins_paths_unity.html %}

{% include_relative jorn-a-silkeborg/intimate_banalities.html %}

{% include_relative jorn-a-silkeborg/collections_jorn_silkeborg.html %}

{% include collapsible.html %}

<h2>Explore the Book</h2>

{% include_relative jorn-a-silkeborg/jorn_a_silkeborg_book_embed.html %}