---
layout: article
title: La langue verte et la cuite
categories: books
description: is a book written in French by Asger Jorn and Noël Arnaud, and edited and published by Jean Jacques Pauvert in 1968.
creators: [asger-jorn]
tags: []
subjects: [structuralism, art-theory]
featured-image: /assets/articles/la-langue-verte/front.jpg
last_modified_at: 2021-03-10
---

<section>
	{% include infobox.html
    image="/assets/articles/la-langue-verte/front.jpg"
    title="La langue verte et la cuite"
    authors="Asger Jorn &amp; Noël Arnaud (Jean Jacques Pauvert editor)"
    publisher="Jean Jacques Pauvert"
    date="1968"
    series="Library of Alexandria, Vol. 3"
%}
	
	<p><strong>{{ page.title }}</strong> {{page.description}} The book was written in reaction to the 1964 book <em>Le cru et le cuit (The Raw and the Cooked)</em> by Claude Lévi-Strauss, which was an examination of structuralist theory. The book contains numerous short essays with titles that parody French culinary dishes and texts that focus on Jorn and Arnaud's dissatisfaction with structuralist theory, coupled with historical greyscale images where the tongues of sculptures, people, and animals have been distinctly highlighted in colour. The book is 327 pages in length and contains over 300 images.</p>
	
	<p>The book is part of the series &quot;The Library of Alexandria:&quot; Volume 1 consisted of a series of Situationist pamphlets, Volume 2 was Jorn's book <em>Signes gravés sur les églises de l'Eure et du Calvados</em>, Volume 3 was Jorn's and Pierre Wemaëre's booklet <em>Le long voyage</em>, and <em>{{ page.title }}</em>.</p>
</section>

<section>
	<h2>Concept</h2>
	
	<p>Steven Harris explains the etymology of the book's title:</p>
	
	<div class="quote">
	<p><em>Le Cru et le cuit</em> is, of course, Lévi-Strauss’s examination of the extrapolation of myths
	based on a common myth about the origin of cooking, which exemplifies in his view the transition from nature to culture. Jorn’s first title, <em>La Langue crue et la cuite</em>, makes explicit the role of the tongue in both eating and speaking... in distinguishing between <em>la langue</em> (language) and <em>la parole</em> (speech), strips the word <em>langue</em> of any association with the body, despite the fact that <em>langue</em> denotes both &quot;language&quot; and &quot;tongue.&quot; The title can be translated as &quot;The Raw Tongue and the Cooked One&quot;... <em>La Langue verte et la cuite</em> does not literally mean &quot;The Green Tongue and the Cooked One&quot;, since <em>la langue verte</em> is an idiom for slang or popular language, but rather &quot;Slang and Drunkenness,&quot; two kinds of improper behavior involving the tongue.</p>
	<p class="quote-attrib">- Steven Harris, <a href="https://www.mitpressjournals.org/doi/pdfplus/10.1162/OCTO_a_00103" target="_blank">How Language Looks: On Asger Jorn and Noël Arnaud's <em>La langue verte</em></a></p>
	</div>
	
	<p>In the book, Jorn emphasized the relation of detail to structure and individual to society, which is linked to Jorn's critique of structuralism.<span class="footnote"><a href="https://www.mitpressjournals.org/doi/pdfplus/10.1162/OCTO_a_00103" target="_blank">How Language Looks: On Asger Jorn and Noël Arnaud's <em>La langue verte</em>. Accessed 2020-03-24.</a></span> Jorn later wrote of the book:</p>
	
	<div class="quote">
	<p>Why did we make La Langue verte et la cuite? First because the tongue as a subject of visual art is fascinating and much more varied than still lifes, and these images have never been shown together, and then because the linguists are seriously beginning to plague us. It was time to leave this &quot;too defensive a posture against the power of words...&quot;</p>
	<p class="quote-attrib">- Ibid. Translation by Steven Harris.</p>
	</div>
</section>

<section>
	<h2>Themes</h2>
	
	{% include thumbnail.html
    image="/assets/articles/la-langue-verte/page132.jpg"
    caption="<cite>La langue à jambe volante</cite> (The Flying Legged Tongue), Urnes Stave Church, Norway, page 132"
%}
	
	<div class="quote">
	<p>One of the initial themes of <em>La Langue verte</em>, adapted from <em>Le Cru et le cuit</em>, is that of the dénicheur des langues, the &quot;dislodger of tongues,&quot; which is both described as a myth in Jorn and Arnaud’s text and displayed as a motif in numerous images.</p>
	<p class="quote-attrib">- Ibid.</p>
	</div>
	
	<div class="quote">
	<p>The relation between tongue <em>[langue]</em> and language <em>[langage]</em> merits examination. The tongue is language less speech <em>[parole]</em>. To extract one’s tongue, it is therefore necessary to cut off one’s speech, which one achieves in a radical manner by cutting out the whole tongue. This carnage of the tongue is called language. The operation itself is called <em>langagement</em>.</p>
	<p class="quote-attrib">- Asger Jorn and Noël Arnaud, <em>La langue verte et la cuite</em>, p. 48.</p>
	</div>
	
	{% include thumbnail.html
    image="/assets/articles/la-langue-verte/page201.jpg"
    caption="Excerpt from <cite>La tèse de veau à la vinaigrette</cite>, featuring images <cite>Langue en tétine légumineuse et ombilicale</cite> (Tongue in leguminous and umbilical pacifier) and <cite>Linguiste hippotêtique se nouant la langue</cite> (Hippotetic linguist tying his tongue), page 201"
%}
	
	<div class="quote">
	<p>Although <em>La Langue verte et la cuite</em> is a parody of structuralist theory, as well as of the musical and scientific pretensions of <em>Le Cru et le cuit</em>, it also adopts Lévi-Strauss’s method in the organization of its images and prose. The permutations of images of the tongue — which are broadly organized in the &quot;table service of illuminations&quot; into <em>héros dénicheurs de langues</em>, <em>la langue pédale</em> (roughly, &quot;foot lickers&quot;), <em>tireurs</em> (those who show their tongues), <em>les langues élémentales</em> (the elements in question being chiefly air and fire), <em>la langue orientable</em> (in which tongues take the form of vegetal arabesques), <em>la langue zoomorphe</em> (which are mostly snakes, but on two occasions frogs), <em>bi-langues</em>, and <em>tri-langues</em> - are transformational in nature.</p>
	
	<p>The text is organized according to a different logic of development than that found in the &quot;table service of illuminations.&quot; The table of contents is set up as a menu, with each dish an example of wordplay whose name often incorporates both musical and gastronomic references (for instance, &quot;Pizzicato al pommo d’oro&quot; and &quot;Elégie au fromage blanc&quot;). The texts that have been given the names of individual dishes are modular, and they develop over the course of the book as a series of dismythes and marmythes.</p>
	
	<p>The musical references in the book’s organization refer of course to Lévi-Strauss’s own use of musical terms to structure the four volumes of his <em>Mythologiques</em> series, whose first volume was <em>Le Cru et le cuit.</em></p>
	<p class="quote-attrib">- Steven Harris, <a href="https://www.mitpressjournals.org/doi/pdfplus/10.1162/OCTO_a_00103" target="_blank">How Language Looks: On Asger Jorn and Noël Arnaud's <em>La langue verte</em></a></p>
	</div>
	
	<p>Further, Harris defines Jorn and Arnaud's approach to structuralist theory in the book:
	
	<div class="quote">
	<p>It is important to emphasize that Jorn and Arnaud’s book is a response to structuralism from the viewpoint of artists; it therefore differs from the intellectual critiques made by Claude Lefort, Henri Lefebvre, and others in the 1950s and '60s. One of the key aspects of Jorn and Arnaud’s response is an expansive humor—derisive, parodic, but also generous. It is not, in other words, a humor that treats either its object of parody or its audience as an idiot; it is, rather, an inclusive humor, a carnivalesque attitude... Jorn and Arnaud focus on a materialist knowledge gained through the senses (a <em>connaissance</em> rather than a <em>savoir</em>), placing an emphasis on the unruly human animal rather than on a system.</p>
	<p class="quote-attrib">- Ibid.</p>
	</div>
</section>

<section>
	<h2>Contents</h2>
	
	<p>See: <em><a href="/article/la-langue-verte-contents">La langue verte et la cuite (Contents)</a></em></p>

	<h3>Explore the Book</h3>
	
	{% include_relative la-langue-verte/book_embed.html %}
	
	<em>This is a preview only - <a href="https://archive.org/details/la-langue-verte-jorn" target="_blank">view fullsize on archive.org</a></em> 
</section>

{% include collapsible.html %}