{% include collapsible_start.html title="Asger Jorn: Introduction" %}
{% capture my_include %}

During a visit I made to the church of Damville, in Normandy, in 1946, and during my stay with the painter Pierre Wemaëre, in Pinson, my attention was drawn to the scrapings and graffiti whose porch of this church was abundantly covered.

Later noticing similar scrapings in Denmark, Sweden and Norway, on the cathedrals of Ribe, Lund and Trondhejm, I decided to study this phenomenon more closely.

The resources necessary for this enterprise were given to me in the spring of '61. I then left for the Norman adventure accompanied by the photographer Gérard Franceschi.

We found in the départements of Eure and Calvados a large number of graffiti. In other areas we found nothing. Wherever the churches have been restored, traces of graffiti have disappeared. Sometimes, as in example No. 178, a part is revealed when a piece of superimposed stucco has fallen.

Many inscriptions, both in Latin and in French, are of great historical interest; we have however ignored them.

We did not find any image of coupling, nor of hearts pierced by an arrow. The reproductions faithfully present all the subjects found. There is thus no possibility of a choice of subjects adapted to a predetermined interpretation. The only graffito that was traced was footprint No. 73.

At the beginning, the searches were carried out a little by chance, which explains the lack of indication of origin of some. But all the churches visited are in the register and more precision would require a second course for which I do not have the time.

At no point did I assume that we could really make a very rich gathering of images. And no more than the signs would be admirably preserved. However, this was the case.

As books and studies on similar themes seemed to me to be very poor, I was tempted to combine the magnificent photos of Franceschi and the texts of some of the best specialists in this field.

I hasten to say that the latter, who expressed an interest in my project for which I thank them warmly, confounded, by the kindness and warmth of their welcome, the amateur that I am.

*-Asger Jorn*

{% endcapture %}
{% include collapsible_end.html %}