{% include collapsible_start.html title="The Nordics" %}
{% capture my_include %}

All the ignominious possibilities of human behaviour and conduct are embodied and materialised in a few situations and a few simple acts. The words that name these elementary acts and situations are neither learned nor numerous. VANDAL, BARBARE, a few others, and the list is quickly closed: the clear conscience wants to know nothing about them.


Horrible and monstrous facts and words - taboos - the conscience shuns them, denies the intelligence the right to free examination, and methodically maintains a long and persistent incuriosity towards them. As proof of this, just one example: once incest has been denounced and told, 2,000 years have elapsed before anyone has dared to seek and tell how it is rooted in the heart of man.

VANDAL's word alone has such emotional implications and provokes such horrified opposition - all emotional opposition - that it is reasonable to think that the very mystery of the conduct it purports to designate is thickened by it. The word is less a source of clarity than of obscurity.

It therefore seems to me essential to finally place vandalism in its true light. And to report, as accurately as possible, on what is considered one of its most spectacular manifestations: graffiti.

Pride in a solidarity that is perhaps too violently felt? I dare to say right away that I did not think without emotion, in front of these churches of Normandy, of the patient and laborious hands that dug, engraved, the stone. Stealthy and trembling also - these hands - since it was forbidden. To imagine that they could have been animated by the blindest passion - that of destruction - reveals, in my opinion, a profound aberration. And not only of the mind but also of the heart. The very one allegedly denounced in this way.

The act of destruction never seems so pure - I mean so absolute - to us as when it involves stone. We must remember that, after having made its mark in the prehistoric ages of mankind, stone has also occupied historical times, and this in an essentially twofold way: construction and destruction. The importance of these two antinomic functions is reflected in all religions: Christianity - building stone and stoning - Islam and others, in a less explicit but equally strong symbolism. This duality of its use is our very ambivalence, which, over the millennia at first, and centuries thereafter, has been inscribed in the only solid matter that man has known for a long time.

The presence of stone is too fundamental for us not to be sensitive to its negation, in an extreme way. Whether it is ignored - used simply as a support by graffiti addicts - or put down by vandals - that is what we cannot stand, what scandalizes us. And, at the same time, it forbids us to understand and know the approach and motives of these authors of engraved and drawn signs and images; it condemns us to know nothing of the impulse that pushes some men more than others to destroy.

Already some excellent minds have endeavoured to stop dispossessing the clear conscience of its means, to no longer blithely stigmatize the conduct of this people of the North - the Vandals - but to study the nature of an energy and the meaning of a need - vandalism.

Their efforts led to the birth of vandalismology.

Knowing exactly how the Vandals lived and who they were, what were the trials, goals and difficulties of this people, became part of the problem. And, even more centrally, the study of this same force, rage and purpose: to destroy, blindly destroy.

The word BARBARIAN has been made to designate those who stubbornly refuse to accept any rhetoric. There is no justification for this, except that in politics, the methods of Nordic parliamentarians are opposed to Latin discourse.

In France, in the popular sense, "la barbe" is an expression that expresses an annoying and unpleasant situation. In Scandinavia, it refers to a fun and funny situation.

It has become possible today to see that the emotional potential contained in the word VANDAL is an unfortunate gift of the hereditary collective memory. This very memory, the prowess of which has been abundantly emphasized by contemporary psychology, has also proved to be fallible on this very point. In fact, the synonymy of the words VANDAL and DESTRUCTOR more obscures the conduct it purports to designate than it serves or facilitates its clear representation. Moreover, this memory would not have given us anything erroneous that I would not hesitate to make the following remark: both in biology and psychology, the faculty of forgetting and renewal are indispensable to life, if not to survival.

Vandalismology is a science in the making, but it already has its own methods and history.

A Frenchman, Louis Réau, is to be credited with trying to identify and classify the various varieties of vandalism. Defining it as the destruction of monuments of historical or artistic significance, he was able to make the following classification on the basis of its effects:

WITH UNDISCLOSED MOTIVES:
Sadistic vandalism: The brutal instinct for destruction;
Greedy vandalism: Blind greed of looters;
Envious vandalism: Erasing the trail of predecessors;
Intolerant vandalism: Religious and revolutionary fanaticism: Foolish vandalism: Graffitomania.

WITH AVOWABLE MOTIVES:
Religious vandalism.
Prude vandalism;
Sentimental or atoning vandalism;
Aesthetic vandalism of taste;
Elginist and collector vandalism, -

In addition to this diverse classification, the British - under the impetus of Martin S. Briggs - wanted to add an additional category: lack of maintenance, which would be considered as negligent vandalism.

The French vigorously opposed this, and, rightly personalizing the debate, refused this possible opening to anonymity. Indeed, in order to be able to truly denounce vandalism, it seems essential to be able to indicate not only an act, but also a responsible agent. Assuming this last point is not necessary, we would end up, in a pantheistic (or only trendy) country, in front of the spectacle of the natural degradation of things, with a heresy of the kind: God is Vandal.

Any such heresy would quickly lead to the temptation to consider oneself divine. The traditional mentality of the Danish province of Vendsyssel attests to this possibility.

The intransigence of the English positions and the traditional docility of Danish politicians and scholars towards them make us fear that the remarkable rise of vandalismology in the post-war years may ultimately work against its very aims.

The history of the meaning of the word VANDAL is a long one. However, it is only in modern times that the meaning of this word will become definitively locked up in the traditional clichés we know today.

In 1739, in the middle of the Enlightenment, Voltaire reported the colonnade of the Louvre "masked and disgraced by buildings of Goths and Vandals".

Forty-five years later, in August 1794, a former member of the clergy of Lorraine, who had become a constitutional bishop - the Abbot Gregory - employed him in a report presented to the Convention (14 Fructidor Year III).

"Why did he choose to pillory the Vandals rather than the Goths, the Huns, the Philistines or the Boeotians? "asks Louis Réau, who explains:

"The Philistines were barbarians only in the eyes of their enemies, the Israelites; and the Boeotians were seen as heavyweights only in comparison with the Athenians. The reputation of the savagery of the Germanic hordes, on the other hand, was well established in Western Europe, a victim of the great invasions. The Romans kept the memory of the Vandalica Rabies, one of the first attacks of furor teutonicus of which Rome had been victim in 445. The Vandals had sacked the Eternal City for fifteen days. »

During the Middle Ages, the popularity of images of Samson's activity (destruction and displacement of monuments) did not challenge the Philistines themselves: Samson did not become one of the symbols of the fight against vandalism.

What assumptions can be made about crimes whose reality is not perpetuated by monuments? No vandalized boastfulness. As opposed to the Romans. We know the monument that Titus had erected to commemorate the looting of Jerusalem - the sacred city - and to show the importance of the loot. It would be very difficult for us if the Gauls, in turn, had destroyed the Roman monuments that symbolized their defeat, to comment on their vandalism.

Napoleon's conquests and destruction were illustrated by short scenes on the Vendôme column. But, under the Commune, the painter Courbet was responsible for the destruction of the boring column, and the French themselves do not know, today, where the vandal is.

That a nation wants to commemorate the high points of its history with architectural ensembles is essentially a political fact. It has nothing to do with architectural aesthetics. And therefore does not guarantee its value.

There are countless heroes whose memory is served by the statuary that seeks to honour them, and we know of entire cities whose architecture and statuary are monumental errors, if not horrors.

Moreover, the gregarious instinct does not necessarily engender taste and aesthetic sense. The civilizing role of cities is neither obvious nor absolute. It follows that the partial or total destruction of an urban ensemble does not necessarily constitute an act of vandalism.

My childhood in the homeland of the Vandals and Teutons left me with clear memories. I remember that the black activity of the big industrial cities was reputed to be satanic. And I have not forgotten the stories we were told - Sodom and Gomorrah; and again: the Tower of Babel. All stories in which God was present, and through which a state of mind and a moral position is expressed, whose reasons and validity I, as an essential artist, feel it is more important to rediscover than to oppose them blindly and categorically.

Louis Réau pays unreserved homage to the Romans for their colonization of Gaul - "a work of civilization, in the noblest sense of the word" - but he then radically changes his position towards the northern invaders, particularly the Normans. And when he then wondered what could be credited to the Norman invaders, he discovered only one thing: "the birth of Romanesque architecture, which the English prefer to call, not without reason, the Norman style". Let us recall in passing that this Norman style appeared to the humanists of the Italian Renaissance to be indescribably ugly - a barbaric, "Gothic" phenomenon.


{% endcapture %}
{% include collapsible_end.html %}