{% include collapsible_start.html title="True and false complementarity of culture and civilization" %}
{% capture my_include %}

On the other hand, the promotion of consciousness as a civilizing instance is not without problems: to say that a man is transformed from barbaric to civilized by consciousness is to implicitly recognize that the unconscious and the subconscious are of a barbaric nature. The unconscious and subconscious are the substratum and nucleus of all human life. To it and to them is intimately linked this instinctive self-evaluation of man: culture - not the sum of abstract knowledge but true, spontaneous and dynamic culture, in a word, living culture.

We can see, therefore, that grouping together Civilization and Consciousness obscures the relationship between Civilization and Culture, and obscures the latter named in a slanderous manner.

How does Humanism, between Civilization and Culture, confront the obstacles that barbarism has in its path, and how does it rely on civilization and culture? This is what we must now ask ourselves.

Alexandre Mongait makes us know the official Russian position (L'Arché ologie en U.R.S.S.S.): culture and civilization are synonymous. Similar position among Americans (The science of culture, Leslie A. White). And the same identification can be found in France and Italy.

Let us define civilization as a framework and structure of utilitarian characters.

In Scandinavian countries, Christianity, the Renaissance and Modern Development - civilizing factors - have all played their part equally. Stages and levels of civilization, they have been deeply assimilated. But nowadays they have ceased to occupy the role of civilizing agents. They have become elements of culture.

Let us say it again: the same elements that for a long time derived their meaning from civilization have now become signs of culture.

At the outset - a complex of more or less happy but always conscious decisions - civilization now appears, in my native Denmark, to be natural: an evidence outside the field of consciousness. Civilization has become culture.

What does this change in meaning mean? Do we lose in civilization more than we gain in culture? Is there degradation and destruction of what has been achieved? Are we at last facing a phenomenon that must be described as barbaric?

Just as we look at the existence of agriculture before industry, and the existence of the countryside before the city, there are those who like to consider the existential anteriority of culture over civilization: they are the Humanists.

For us, it is enough for us to have observed in the Scandinavian countries the process of transformation described above to affirm, on the contrary, that civilization is prior to culture. We believe that not to see it in this way is to slyly substitute the idea of barbarity that is less than culture for the idea of another that is more than culture. One primary, the other decadent.

The acquisition of any new technique requires an apprenticeship - and what is called civilization (ultimately, culture) is one of them.

Learning during which the faculties of attention and concentration are necessary. It is impossible to be distracted or inattentive.

The same applies to culture and civilization. With only this one difference between the two that the Society emphasizes the second. Society in fact requires us to follow the transformation of the values of the civilized world on a permanent basis - otherwise we will appear asocial or be accused of incivility. It refuses to situate civilization and culture at different levels of human reality. Or else, if it agrees, it wants to believe that it is possible to occupy them at the same time: this is the bourgeois illusion.

Georges Dumézil emphasizes and makes explicit the tripartite character of Indo-European theology: Sovereignty-Sovereignty-Force-Fertility.

He complied all the documents - stories and legends - that retrace the original life of the Nordic peoples, the Aesir and the Vanes. He studied how, through war and peace, the union between these two peoples came about, and this with regard to the three principles mentioned above.

But Georges Dumézil - no doubt a victim of his Latinity - commits, in our opinion, an error of appreciation.

By placing the notions of strength and fruitfulness in the same single group, he excessively individualizes the notion of sovereignty. It loses sight of the fact that the dialectical dynamic of action is based on the union of any two of these principles and, as a result, the opposition of the group thus formed to the third principle.

In the present case, the union that has taken place between the Aesirs-many men and warriors, but also, and much more fundamentally, priests (i.e., spiritual community, the higher principle of transcendence) and the Vanes (farmers, the principle of fecundity) is the union of Sovereignty and Fertility - a union opposed to Force. There is not - as Dumézil tends to believe - Force and Sovereignty on one side and Fertility on the other. There is no hierarchy: all three are on the same level.

The same error of judgement can be found in Eastern European culture, which pits abstract, claustrophobic and isolated sovereignty against fertility and strength.

It should be noted that among the Germans, Sovereignty and Fertility are grouped together in a whole that leaves Force alone, available and linked to nothing.

It is possible that the diversity of European cultures (a diversity that has developed mainly from differences in conceptual representations) is to be deplored. However, we should not exclude any element - not even the Germans - from this variety that makes up Europe. This is what Dumézil did when, instead of considering Force, Fertility and Sovereignty on the same level, he introduced - at the end of the hierarchy - his scale of values.

Let us posit the Force as a destructive energy.

Depending on whether its manifestations are linked to Sovereignty or Fertility, its nature changes. It will find exculpation in Morality, a motive in Sociology.

It is Vandalism, both in its philosophical reality and in its concrete existence, that remains the heart of the problem.

It seems to us possible to consider any cultural development as a progressive assimilation of uses. So initially, especially in schools: experimentation and adaptation. Let us note, in passing, that from the first Middle Ages on, the whole scholastic orientation is of Nordic inspiration.

The blossoming which the above-mentioned development tends to bring about will be complete only if one refrains from denying the value of a capital heritage: that of habits, ages, customs and usages.

This is an act of false freedom, and any denial or negation of these has inevitably had disastrous consequences. The Latin cultures, now detached from life, are the fearsome warning to us.

The Nordic ethics-and, equally, the legal principles which are, socially speaking, its translation and equivalence-is based both on freedom of trial and experimentation and on the faculty of judgement. Conclusions and judgements are drawn from all these attempts and pragmatic conduct. These, subject to open discussion and statistical criteria, make it possible to define an element of a standard.

This is a parliamentarism that overlaps with the principles of the Ting.

Choosing a particular element of the norm in a different way from that described above means mathematically substituting the variable for the norm. It is to create chaos, to opt for a confused profusion; and it is still to introduce pathology into physiology.

But isn't it the same with Experimental Art?

Experimental Art, Modern Art? Can we really doubt that there are two different realities, opposable one to the other? it is absolutely sure!

For each of them, fertility is the golden rule. It is the law. As if it had become an absolute guarantee of its value, and the guarantee of their reality.

Hence the multiplicity and prodigality of inventions, which - beyond the reach of the usual criteria - escape all value judgements.

The result is that modern aesthetic specialists in the U.S.A. suffer from neurotic and long-lasting headaches.

However, the willingness to give absolute primacy to standardized methods - this option of the Nordic mentality - also has its weaknesses. The Nordic mentality somehow makes itself a prisoner of its own will.

It makes it impossible to value the unexpected, the new, the extraordinary. In these, it is forced to see a direct attack on its sovereignty. For, let us recall, sovereignty is rigorously linked to the past, to fidelity to the past. It is therefore incapable of deciding when the "unseen" is of a disastrous nature, and when it is of a salutary nature. Anything new seems pathological to it. All artists whose own activity goes beyond the rules obviously suffer from it.

Georges Dumézil rightly pointed out that there is hardly a theme in Scandinavian mythology that has not been taken up and continued by the Christian Middle Ages.


THE EVIL DUPÉ

Among other examples, he cites the theme of the "Evil Dupe": the devil's mediation in the building of churches and the trickery of which the devil, his work accomplished, is a victim. Thus the story of Gylfaginning: under the appearance of a master craftsman, a giant proposed to the Aesir and undertook the construction of a castle - it being understood that this would be done in the time of a winter, with the help of his only horse - and that the salary of his work would be, besides the sun and the moon, the beautiful Goddess Freyja - ordinary object of covetousness of the giants.

The giant's horse having tirelessly brought every night the necessary stones for this construction, the Aesir decided - three days before the summer - to frustrate the craftsman with his salary; they delegated for this purpose their god Loki who, by subterfuge, took the form of a mare and diverted the horse from his work.
In spite of this, the master craftsman let out his anger - the anger of a giant. The Aesir considered themselves freed from their engagement and called their god Thor, who with his hammer Mjöllnir broke the giant's skull and thus sent him into the "Niflhel", the "hell of the mists".


{% endcapture %}
{% include collapsible_end.html %}