{% include collapsible_start.html title="Nordic Barbarism" %}
{% capture my_include %}

The antagonism of culture and civilization is not one of the least important sources of conflict in today's world, which is why I believe it is necessary to elucidate as much as possible the mysteries contained in these notions.

We can consider culture as the actualization of a past-present (what is still called "tradition" or "vane") and civilization as the actualization of a past-future (what is called "historicity" or "chronology"). These two systems, linked by their own antagonisms and having as potential either a present or a future, seem to us to manifest by their opposition the very diversity of the European North and South.

Louis Réau sees in vandalism one of the modalities of a much more important general phenomenon: barbarism.

He distinguishes between three major groups: Teutonism, Gothism or Gothicism and vandalism.

The first group corresponds to the unscrupulous destruction of defeated peoples; the second to the production of anti- or counter-classical ugliness; and the last, as we have already seen, to the destruction of all objects of civilization.

With a few rare exceptions, French specialists have adhered - with academic care - to this triple classification. It has become an authority throughout the world and, with it, the terminology used. It follows that behind the artificial structures of the horrible, we find all the Scandinavian peoples.

Is it suspected that this terminology - apparently a simple statement of fact - promotes something other than a need for clarity? It keeps alive the old obsession of the Goth, the Vandal and the Teuton...

It seems to us that the original purity of Gaul (that France before the Germanic invasions) has remained an object of nostalgia even today, in France itself.

In Scandinavia, a certain partial denial of our past and our opposition to pan-Germanist ideas have also contributed to the underhanded spread of the regrettable state of mind denounced above.

Would we - we Scandinavians - stop being publicly questioned by the terminology of this classification, would we stop being so accused and cited as the original source of barbarism that we would no doubt agree to keep silent. But since it seems to me that this must not stop, we must choose to speak out and make ourselves heard.

We must repeat that to permanently denounce a criminal's criminality is to dangerously sensitize the criminal to that crime. And, given what we are talking about, it is risking awakening terrible forces whose control would quickly become hypothetical, if not impossible.

History teaches us that in fact many of those who stigmatized the Barbarians and pilloried them practiced Teutonism and vandalism themselves. What is more, they took glory from it, and their art or their chronicles bear abundant witness to this.

It is clear that the low level of consciousness that this boastfulness manifests is precisely what characterizes barbarism. Indeed, the importance of the degree of consciousness has become the most commonly adopted criterion by which one differentiates the barbarian from the civilized.

Although imperfectly intelligible, the values of the civilized world appear prestigious to the less civilized. They are likely to provoke their admiration and exert an eminent influence.

Men - with a low degree of civilization - are thus engaged in a reflexive effort upon themselves. In so doing, they will discover the intellectual and moral value of this act of reflection; and they will consider it fundamental. In judging this, it is precisely to reach a higher consciousness. It is soon to enjoy a critical faculty that can be exercised at the expense of the very teachers who taught it. It means being able to denounce their limits and, with the help of the intoxication of discovery, to adopt uncompromising principles of action against them. Finally, in the name of the latter, to want and undertake purifying actions such as "the renewal of blood". We have seen that...


{% endcapture %}
{% include collapsible_end.html %}