{% include collapsible_start.html title="Introduction (Jasia Reichardt)" %}
{% capture my_include %}

Cybernetic Serendipity is an international exhibition exploring and demonstrating some of the relationships between technology and creativity.

The idea behind this venture, for which I am grateful to Professor Max Bense of Stuttgart, is to show some of the creative forms engendered by technology. The aim is to present an area of activity which manifests artists' involvement with science, and the scientists' involvement with the arts; also, to show the links between the random systems employed by artists, composers and poets, and those involved with the making and the use of cybernetic devices.

The exhibition is divided into three sections, and these sections are represented in the catalogue in a different order:

1. Computer-generated graphics, computer-animated films, computer-composed and -played music, and computer poems and texts
2. Cybernetic devices as works of art, cybernetic environments, remote-control robots and painting machines
3. Machines demonstrating the uses of computers and an environment dealing with the history of cybernetics.

Cybernetic Serendipity deals with possibilities rather than achievements, and in this sense it is prematurely optimistic. There are no heroic claims to be made because computers have so far neither revolutionized music, nor art, nor poetry, in the same way that they have revolutionized science.

There are two main points which make this exhibition and this catalogue unusual in the contexts in which art exhibitions and catalogues are normally seen. The first is that no visitor to the exhibition, unless he reads all the notes relating to all the works, will know whether he is looking at something made by an artist, engineer. mathematician, or architect. Nor is it particularly im portant to know the background of the makers of the various robots, machines and graphics-it will not alter their impact, although it might make us see them differently.

The other point is more significant.

New media, such as plastics, or new systems such as visual music notation and the parameters of concrete poetry, inevitably alter the shape of art, the characteristics of music. and the content of poetry. New possibilities extend the range of expression of those creative people whom we identify as painters. film makers, composers, and poets. It is very rare, however, that new media and new systems should bring in their wake new people to become involved in creative activity, be it composing music, drawing, constructing or writing.

This has happened with the advent of computers. The engineers for whom the graphic plotter driven by a computer represented nothing more than a means of solving certain problems visually, have occasionally become so interested in the possibilities of this visual output, that they have started to make drawings which bear no practical application, and for which the only real motives are the desire to explore, and the sheer pleasure of seeing a drawing materialize. Thus people who would never have put pencil to paper, or brush to canvas, have started making images, both still and animated, which approximate and often look identical to what we call 'art' and put in public galleries.

This is the most important single revelation of this exhibition.

Work on this project started in the autumn of 1965. Only by 1968, however, was there enough financial support for it to go ahead. Since the project involves computers, cybernetics, electronics, music, art, poetry, machines, as well as the problem of how to present this hybrid mixture, I could not have done it on my own.

I was very lucky to have had the help and advice of:
technological adviser - Mark Dowson, freelance electronics and system design consultant, associated with Dr. Gordon Pask and System Research Ltd.
music adviser - Peter Schmidt, painter, who has a particular interest in electronic and computer music and who has composed music himself.
exhibition designer - Franciszka Themerson, FSIA, OGG College de Pataphysique (Paris), painter and theatrical designer.

Jasia Reichardt


{% endcapture %}
{% include collapsible_end.html %}