---
layout: article
title: Asger Jorn - The Crucial Years 1954-1964
categories: books
description: is the second book in a five-volume catalogue raisonné series on the Danish painter Asger Jorn by Guy Atkins and Troels Andersen.
creators: [asger-jorn]
tags: []
member_of: jorn-catalogue-raisonne
featured-image: /assets/articles/atkins-jorn-crucial-years/front.jpg
date: 2021-08-05
last_modified_at: 2022-01-31
---

<section>
	{% include infobox.html
    image="/assets/articles/atkins-jorn-crucial-years/front.jpg"
    title="Asger Jorn: The Crucial Years 1954-1964"
    authors="Guy Atkins &amp; Troels Andersen"
    publisher="Lund Humphries Publishers Ltd."
    date="1977"
    series="Asger Jorn Catalogue raisonné"
    followed_by="Asger Jorn - The Final Years 1965-1973"
%}
	
	<p><strong>{{ page.title }}</strong> {{page.description}}<p>
	
	<div class="quote">
	<p>The years 1954 to 1964 were ‘crucial years’ for they saw the emergence of Jorn as a major figure in European art. In 1958, at Expo in Brussels, his work held its own alongside paintings by other leading artists. The following year he made a huge and magnificent ceramic mural, 10 x 88 ft, for a building in Aarhus.</p>
	
	<p>Artistic recognition inevitably brought commercial pressures, against which Jorn found it necessary to defend himself. In 1959 he painted a series of pictures which he hoped would be rejected by the public. His so-called <em>Modifications</em> consisted of sentimental old canvases bought in junk shops and overpainted or ‘modernized’. These pictures did not, in fact, find buyers at the time. But his London exhibition of equally un-Jornlike ‘luxury’ paintings in 1961 was an unexpected sell-out.</p>
	
	<p>Part Two contains information on Jorn’s dealers and collectors, and a chapter on the large number of forgeries which began to appear on the art market after Jorn’s death... Part Three includes the illustrated oeuvre catalogue of 751 paintings from the period, as well as an appendix relating to earlier pictures which came to light too late for inclusion in the previous volume. A feature of special interest to art historians is the bibliography of 513 entries, listing public and private collections, exhibitions, auctions, books and articles.</p>
	<p class="quote-attrib">- Guy Atkins, Asger Jorn - The Crucial Years 1954-1964, jacket inner leaf</p>
	</div>
</section>

<section>
	<h3>Contents</h3>
	<p>Part One</p>
	<ol>
		<li>Switzerland and Italy (1953-5)</li>
		<li>Breakthrough (1956-8)</li>
		<li>Stalingrad: No Man’s Land (1956-72)</li>
		<li>Situationists (1957—61)</li>
		<li>Modifications and Disfigurations (1959-62)</li>
		<li>Luxury paintings and after (1961-4)</li>
		<li>Ceramics by Erik Nyholm</li>
		<li>Graphics by Ursula Lehmann-Brockhaus née Schmitt</li>
		<li>Tapestries by Pierre Wemaëre</li>
		<li>Writings</li>
	</ol>
	<p>Part Two</p>
	<ul>
		<li>Dealers and collectors</li>
		<li>Titles of paintings</li>
		<li>Forgeries</li>
	</ul>
	<p>Part Three</p>
	<ul>
		<li>Bibliography</li>
	</ul>
	
</section>

<section>
	<h2>Explore the Book</h2>
	
	{% include_relative atkins-jorn-crucial-years/atkins-jorn-crucial-years_book_embed.html %}
		
	<p><em>This is a preview only - <a href="https://archive.org/details/jorn-crucial-years" target="_blank">view fullsize on archive.org</a></em></p>
</section>

{% include collapsible.html %}