---
layout: article
title: Jorn in Scandinavia 1930-1953
categories: books
description: is the first book in a five-volume catalogue raisonné series on the Danish painter Asger Jorn by Guy Atkins and Troels Andersen.
creators: [asger-jorn]
tags: []
member_of: jorn-catalogue-raisonne
featured-image: /assets/articles/atkins-jorn-scandinavia/front.jpg
date: 2021-08-05
last_modified_at: 2022-01-31
---

<section>
	{% include infobox.html
    image="/assets/articles/atkins-jorn-scandinavia/front.jpg"
    title="Jorn in Scandinavia 1930-1953"
    authors="Guy Atkins &amp; Troels Andersen"
    publisher="Percy Lund, Humphries &amp; Co. Ltd./Borgens Forlag"
    date="1968"
    series="Asger Jorn Catalogue raisonné"
    followed_by="Asger Jorn - The Crucial Years 1954-1964"
%}
	
	<p><strong>{{ page.title }}</strong> {{page.description}}<p>
	
	<div class="quote">
	<p>The author has traced Asger Jorn's artistic development from its beginnings around 1930 to the completion of the 'Silent Myth' cycle in 1953. This group of paintings forms a climax, coming at the end of a very rigorous and prolonged self-imposed apprenticeship, which had lasted twenty-three years. During this period the artist lived in Denmark, though he made numerous trips abroad: to Sweden, Western Europe, and once for six months to Tunisia. In the autumn of 1953 he decided to leave Scandinavia, and this decision proved to be an important turning-point for his art. Since 1953 he has worked mostly in Paris and Albisola, Italy.</p>
	
	<p>Part One examines the various stylistic landmarks of the artist's development, for example his very personal and lyrical series of 'Didaska' paintings and water-colours from the middle 'forties; the 'word pictures' made together with the Belgian poet, Christian Dotremont, at the time of the COBRA movement; the humorous and yet strangely obsessional 'Aganak' sketches of imaginary beasts, which date from a year of extreme poverty and suffering, shortly before the artist underwent a long hospital cure for tuberculosis.</p>
	
	<p>Part Two includes all the paintings by Jorn which it has been possible to discover, dating from 1930 up to the winter of 1953/4. They amount to 855, with a few extra works listed in an appendix. Illustrations accompany the descriptions in practically every case and most of the photographs were commissioned specially for the catalogue.</p>
	<p class="quote-attrib">- Guy Atkins, Jorn in Scandinavia 1930-1953, jacket inner leaf</p>
	</div>
</section>

<section>
	<h3>Contents</h3>
	<p>Part One</p>
	<ol>
		<li>Themes and Styles</li>
			<ul>
				<li>From naturalism to the influence of Paris (1930-1939)</li>
				<li>Small things (1940-1941)</li>
				<li>Didaska (1944-1945)</li>
				<li>Saxnäs (1946)</li>
				<li>Tunisian paintings (1947-1948)</li>
				<li>Word pictures with Christian Dotremont (1948-1953)</li>
				<li>Le droit de l'aigle (1949-1950)</li>
				<li>Historical pictures (1949-1950)</li>
				<li>Aganaks (1950-1951)</li>
				<li>The Seasons (1948-1953)</li>
				<li>From COBRA to the Silent Myth (1948-1953)</li>
				<li>Murals</li>
			</ul>
		<li>Historical Background</li>
		<li>Collections</li>
		<li>Description and Identification of the Paintings</li>
	</ol>
	<p>Part Two</p>
	<ul>
		<li>Catalogue of paintings from 1930 to 1953/4</li>
		<li>Appendix, Bibliography, Credits, Index</li>
	</ul>
</section>

<section>
	<h2>Explore the Book</h2>
	
	{% include_relative atkins-jorn-scandinavia/atkins-jorn-scandinavia_book_embed.html %}
		
	<p><em>This is a preview only - <a href="https://archive.org/details/atkins-jorn-scandinavia" target="_blank">view fullsize on archive.org</a></em></p>
</section>

{% include collapsible.html %}