---
layout: article
title: Helhesten (Year 2, Booklets 5 & 6)
categories: books
description: is the final issue of the Danish art journal Helhesten, edited by Danish architect Robert Dahlmann Olsen.
creators: [asger-jorn]
tags: [cobra, helhesten]
member_of: helhesten
featured-image: /assets/articles/helhesten/helhesten_2.56_cover.jpg
date: 2019-01-01
last_modified_at: 2020-12-10
---

<section>
	{% include infobox.html
    image="/assets/articles/helhesten/helhesten_2.56_cover.jpg"
    title="Helhesten (Year 2, Booklets 5 &amp; 6)"
    editor="Robert Dahlmann Olsen"
    issue_date="November 11, 1944"
    cover_design="Carl Henning Pedersen"
%}
	
	<p><strong>{{ page.title }}</strong> {{page.description}}</p>
	
	<p><em>Helhesten</em> was published over nine issues from April 1941 to November 1944 and featured the abstract expressionist art of the Danish avantgarde group of the same name. The issues also included essays on art theory, non-Western artefacts, literature, poetry, film, architecture, and photography, as well as exhibition reviews and profiles of contemporary Danish artists. <em>{{ page.title }}</em> was named for the three-legged horse associated with Scandinavian mythology that symbolised death and illness. The <em>Helhesten</em> group included artists Asger Jorn, Ejler Bille, Henry Heerup, Egill Jacobsen, Carl-Henning Pedersen, and the architect Robert Dahlmann Olsen, among others.</p>
</section>

<section>
	<h2>Contents</h2>
	
	<p>Contents are currently only available in Danish - work is being undertaken to translate the articles.</p>
</section>

<section>
	<h2>Explore the Book</h2>
	
</section>

{% include collapsible.html %}