---
layout: default
---

<article lang="en">

	<!-- "entry" class is for footnotes.js to work correctly -->
	<div class="article-container entry">
	
		<header>
			<h1>{{ page.title }}</h1>
			<hr />
		</header>
	
		{{ content }}
		
	</div>
	
</article>

{% if page.creators %}
<h3>Creators</h3>
<span>
  {% for creator in page.creators %}
    <a href="/creators/{{ creator }}/">
			{% include titlecase.html text=creator %}
		</a><br />
  {% endfor %}
</span>
{% endif %}

{% if page.tags and page.tags.size > 0 %}
<h3>Tags</h3>
<span>
  {% for tag in page.tags %}
    <a href="/tag/{{ tag }}/">
			{% include titlecase.html text=tag %}
		</a><br />
  {% endfor %}
</span>
{% endif %}
