---
layout: default
---

<article lang="en">

	<!-- "entry" class is for footnotes.js to work correctly -->
	<div class="article-container entry">
	
		<header>
			<h1>{{ page.title }}</h1>
			{% if page.creators or page.subjects.size > 0 %}
			<p class="article-meta">
				{%- if page.creators -%}
				<span class="article-collection">
					{%- if page.categories -%}
					{%- for cat in page.categories -%}
					<a href="/articles/?category={{ cat }}">{{ cat | capitalize }}</a>{%- unless forloop.last %}, {% endunless -%}
					{%- endfor -%}
					: {% endif -%}
					{%- for creator_slug in page.creators -%}
					{%- assign creator = site.creators | where: "name", creator_slug | first -%}
					{%- if creator -%}
					<a href="/creator/{{ creator_slug }}/">{{ creator.title }}</a>
					{%- else -%}
					{%- assign words = creator_slug | split: "-" -%}
					<a href="/creator/{{ creator_slug }}/">{%- for word in words -%}{{ word | capitalize }}{%- unless forloop.last %} {% endunless -%}{%- endfor -%}</a>
					{%- endif -%}
					{%- unless forloop.last %}, {% endunless -%}
					{%- endfor -%}
				</span>
				{%- endif %}
				{% if page.subjects.size > 0 -%}
				<span class="article-subjects">
					{%- for subject in page.subjects -%}
					<a href="/articles/?subject={{ subject }}">{% include titlecase.html text=subject %}</a>
					{%- unless forloop.last %}, {% endunless -%}
					{%- endfor -%}
				</span>
				{%- endif %}
			</p>
			{% endif %}
			<hr />
		</header>
	
		{{ content }}
		
	</div>
	
</article>
