---
layout: default
---

{% assign article = site.articles | where: "slug", page.article_slug | first %}

<div class="book-reader">
	
	<div class="book-header">
		<a href="{{ article.url }}" class="book-back-link">&larr; Back to article</a>
		<h1 class="book-title">{{ article.title }}</h1>
	</div>
	
	<nav class="book-toc" aria-label="Table of contents">
		<div class="book-toc-inner">
			
			<div class="book-language-switch">
				{% for lang in article.book_reader.languages %}
				<button class="book-lang-btn{% if lang.code == article.book_reader.default_language %} active{% endif %}" 
						data-lang="{{ lang.code }}">
					{{ lang.label }}
				</button>
				{% endfor %}
			</div>
			
			<h3 class="book-toc-title">Contents</h3>
			
			<ul class="book-toc-list" id="book-toc-list">
				<li class="book-toc-loading">Loading...</li>
			</ul>
			
		</div>
	</nav>
	
	<div class="book-content">
		{% for lang in article.book_reader.languages %}
		<div class="book-text" data-lang="{{ lang.code }}"{% unless lang.code == article.book_reader.default_language %} hidden{% endunless %}>
			{% capture content_path %}articles/{{ page.article_slug }}/book_{{ lang.code }}.md{% endcapture %}
			{% capture book_content %}{% include {{ content_path }} %}{% endcapture %}
			{{ book_content | markdownify }}
		</div>
		{% endfor %}
	</div>
	
</div>

<script src="{{ '/js/book-reader.js' | relative_url }}"></script>