<!doctype html>
<html lang="en">
	{% include head.html %}
	<body>
		<div id="page-body">
			<div id="header">
				{% include header.html %}
			</div>
			
			<div id="content">
				{{ content }}
			</div>
			
			<div id="footer">
				{% include footer.html %}
			</div>
		</div>
		
		<!-- Featherlight lightbox - loaded at end of body for proper initialization -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.13/featherlight.min.js"></script>
		<script src="{{ '/js/featherlight.gallery.min.js' | relative_url }}"></script>
	</body>
</html>
