{% include collapsible_start.html title="Notes on Cybernetics (Mark Dowson)" %}
{% capture my_include %}

Robots and computers have been with us for a long time. The first computers were the abacus used thousands of years ago; the first robot (in myth, if not reality) the Golem, a man made of clay by the High Rabbi Lev Ben Bezalel of Prague in the sixteenth century. This is also the first cautionary tale about robots; for the Golem. animated by a slip of paper bearing the name of God. stuck to its forehead. turned on the Rabbi and kil led him when he made it work on the Sabbath. The word 'robot' comes to us from the Czech writer Karel Capek and his play, R.U.R. (Russums Universal Robots) of 1928. Meanwhile computers had been developing steadily; the first adding machine was Pascal's calculator, 1642, followed closely by Leibniz's calculating machine which could multiply, divide and extract roots. Automation started with Jacquard's punch-card-controlled loom (1801) and, of course, fair ground organs controlled on a similar principle.

The first computer in the modern sense of a machine whose operations are controlled by its input, would have been Charles Babbage's Analytical Engine (c .1840) had he completed it, but we must wait till this century and Bush's Differential Analyser (1927) for the first working example of this type of machine. The Second  World War gave a spur to the development of servomechanisms and electronic computation and saw the creation of the first stored-programme digital electronic computer, ENIAC.

Cybernetics was born officially in 1948 with the publication of Wiener's book - 'Cybernetics,' or 'Control and communication in the animal and the machine.' A year later, Shannon's paper, 'A mathematical theory of communication,' consolidated the foundations of cybernetics as we know it today.

A list of a few significant events and their dates:
1642 Pascal's calculator was built
1673 Leibniz builds his calculating machine
1801 Jacquard's punch-card-controlled loom
1840 Babbage working on his Analytical Engine
1868 Maxwell publishes his theoretical analysis of Watt's governor
1927 Bush constructs his Differential Analyser
1944 ENIAC constructed 
1946 First Josiah Macy Foundation conference on Cybernetics
1948 Norbert Wiener's book Cybernetics published
1949 Shannon publishes his paper 'The mathematical theory of communication'
1956 First congress of the International Association of Cybernetics at Namur, Belgium.

Since the early 1950's the pace of work on cybernetics has been so intense and the rate of new discoveries so fast that time alone will tell which events will prove to have been crucial in the development of this still relatively young science.

Mark Dowson


{% endcapture %}
{% include collapsible_end.html %}